[2016-09-18 09:54] recp opened #1 "matrix inverse must be transposed"
current implementation of matrix inverse must be transposed (plain & simd),

know realized that I was implemented col-major matrix inverse as row-major inverse :(

- [x] column major matrix inverse (plain)
- [x] column major matrix inverse (simd)

[2016-09-18 21:29] #1 closed

[2016-09-19 09:48] recp opened #2 "SIMD #1"
_mm_rcp_ps vs _mm_div_ps ?

there may be an option between reciprocal approximations or division like (or just preprocessor):

[code]

_mm_rcp_ps:
[code]
_mm_div_ps:

[code]

this improves rcp_ps' precision:
[code]
but with extra cost: 3 + 3 + 5 + 5 = 13 Latency + 5 rcp = 18 Latency

[2016-09-21 15:17] recp opened #3 "wrong result in mat4 mul when [dest] is same with [left] or [right]"
Possible solution:

[2016-09-27 18:19] #3 closed

[2016-09-28 08:16] recp opened #4 "msvc: formal parameter with requested alignment of 16 won't be aligned"
[code]

according MSDN, functions params cannot be aligned by __declspec(align(16)) :/

https://msdn.microsoft.com/en-us/library/373ak2y1(v=VS.100).aspx

[2016-09-28 14:23] recp commented on #4
Possible solution:

use `vec4 *` instead of `mat4` in function parameters, mat4 is will be decayed to vec4 * anyway

or

disable align for msvc

[2016-10-11 11:30] recp commented on #2
https://github.com/recp/cglm/commit/3c26a7f820eb0dae71087eca1b78ef5c55959dff

[2016-10-11 11:30] #2 closed

[2016-10-26 14:34] recp opened #5 "TODO: Pre-Compiled Library"
This library could provide a pre-compiled version of all funcs,

some functions are too long and they may cause increase code side
significantly

[2016-10-26 22:17] recp commented on #5
done: https://github.com/recp/cglm/commit/75f5efe0bb4832ecf0bb29230e9f2eeb525d715c

[2016-10-26 22:17] #5 closed

[2016-11-22 12:13] recp opened #6 "Support for unaligned memory"
Currently all mat4 and vec4 operations need memory to aligned 16 because of SSE/AVX instructions, this library may support unaligned memory operations, this would beuseful when using library on non-library type e.g. float[4][4]:

for instance:
needs aligned:
[code]

no aligment required:
[code]

[2017-02-18 14:16] recp commented on #4
`vec4`and `mat4` requires 16 byte boundary aligment but msvc don't allow to align func params or alignment attrib in func params

So we can use `u` prefix or postfix to specify unaligned e.g. `umat4`, `uvec4`. Maybe to fix this issue we can convrt all params with `u` prefix e.g.

`glm_mat4_mul(umat4 m1, umat4 m2, umat4 dest)`

instead of

`glm_mat4_mul(mat4 m1, mat4 m2, mat4 dest)`

but aligned ve

[2017-02-20 15:47] edelsohn commented on #4
This issue was proposed as a bounty for IBM.  While IBM is interested in SIMD optimizations of various math libraries, MSVC does not support the IBM PowerPC architecture.  The specific issue does not seem relevant.  And the interest in math libraries depends on the specific library and its usage.

[2017-02-20 20:11] recp commented on #4
@edelsohn thanks for clarification

[2017-04-19 06:24] dkrikun opened #7 "Compatibility with original glm"
Hello,

1. How feature-complete cglm is compared to glm?
2. Does cglm behave identically to glm (in the sense that the corresponding functions do the same thing as in glm)?

Thx

[2017-04-19 07:10] recp commented on #7
cglm is separate library, I've added features which I needed.
Some features may not exist in cglm yet, but contributions are welcome

Some operations are optimized manually some operations e.g. vec4, mat4...
optimized by SSE/AVX instructions. Also I'm going to optimize it with ARM Neon
This lib aimed best performance, readability and portability

Currently SSE operations required vec4 and mat4 ali

[2017-04-20 21:41] recp commented on #7
@dkrikun I've added some tasks to README about this

[2017-05-20 21:16] #7 closed

[2017-11-21 09:33] recp opened #9 "glm_mat4_inv precision"
Currently **`glm_mat4_inv`** uses `_mm_rcp_ps` instruction (**as default**) to divide matrix by determinant. It is faster than division but there is a cost, we lost precision.

There is also **`glm_mat4_inv_precise`** version which is not using `_mm_rcp_ps` instruction, instead it uses division **so it is more accurate** but how many users are aware of this? Probably they will use the default beha

[2017-12-17 12:52] recp commented on #9
Now `glm_mat4_inv_precise ` is default and old behavior is replaced with new function called `glm_mat4_inv_fast `

The `glm_mat4_inv_precise` is still exists as macro as DEPRACATED!

commit: https://github.com/recp/cglm/commit/4052943a0d655716c9bdde0d173ca60d79409ffd

[2017-12-17 12:52] #9 closed

[2017-12-20 17:19] winduptoy opened #10 "Quaternion-to-matrix identity rotated"
I'm seeing the following behavior for quaternion to matrix conversion.

[code]
outputs
[code]

The identity quaternion is what I expect, but the matrix seems to be flipped 180 degrees on X and Y. I noticed this because everything I render is flipped upside down. Shouldn't `rotMatrix[0][0]` and `rotMatrix[1][1]` equal positive 1 instead of negative 1 when using an identity quaternion? Or maybe I do

[2017-12-22 16:39] winduptoy commented on #10
@recp Any ideas on this?

[2017-12-26 08:04] recp commented on #10
@winduptoy sorry I didn't see this issue until now, fell free to ping me again

I think identity versor (GLM_QUAT_IDENTITY_INIT) is wrong.
[code]

[code]

gives {1.0f, 0.0f, 0.0f, 0.0f} so it must be
[code]
but `GLM_QUAT_IDENTITY_INIT  {0.0f, 0.0f, 0.0f, 0.0f}` also seems valid for your case.  I'll fix this ASAP, but if you want to fix that, PR is welcome :)

`void glm_quat(versor q, float  angle,

[2017-12-26 13:51] winduptoy commented on #10
Ah thank you for pointing out the print functions! I must have missed those. I'd like to help you with documentation soon.

I did not realize that cglm used `w, x, y, z`, I simply assumed it was `x, y, z, w`. I don't really have a preference, but I think it would be important to document this in a very visible place.

Thank you! Hope you had a good holiday wherever in the world you may be.

[2017-12-26 14:42] recp commented on #10
That would be wonderful

I'm confused now, probably most people may assume that is x, y, z, w. For C++ classes probably most people accessing those values by ctor or its name like quat->x, quat->w so it doesn't matter for them I think, but since we have stored them as array order is matter. versor is stored as vec4 (aligned) because it is perfectly fits with SIMD instuctions to optimize them. Mayb

[2017-12-26 14:47] recp commented on #10
Fixed by: https://github.com/recp/cglm/pull/11

[2017-12-26 14:47] #10 closed

[2017-12-26 14:57] recp opened #12 "Create AUTHORS file"
I didn't want to create and create/fill authors manually
maybe there is a tool / service which collects Pull Requests
and appends contributor to AUTHORS file if not exists.
Because Github is already knows contributors

added to my TODOs

[2017-12-27 07:02] CHN-STUDENT opened #13 "Can not work on Windows 10 (VS2017)"
Hello,
When I try to build and use it on my computer ( OS:Windows 10  IDE: Visual Studio 2017 )
but it can not work.
Here are error info:
(I used google translate to translate from Chinese to English,because i do not have English version of Visual Studio.)

[code]
This is main function code:
[code]
Please help me and please do not mind my poor English.
Thanks!

[2017-12-27 07:41] recp commented on #13
Hello @CHN-STUDENT,

Thank you for reporting this, building on Windows seems passing: https://ci.appveyor.com/project/recp/cglm/branch/master

My main environment is macOS also I have Linux environment,
recently I removed my virtual Windows but I will install ASAP

Shouldn't  this `#include <cglm\cglm.h>` be `#include <cglm/cglm.h>` ?

[2017-12-27 11:49] CHN-STUDENT commented on #13
@recp yes,you see i created a project named Project 1,then i wrote the main function include your header file without any function and try to compile it,but the compiler told me some errors in `cam.h`. And i am sorry for giving the error info by using the translation system.If you think you need more files or info,please tell me then i will give you.Hope you can help me,thanks!

[2017-12-27 12:17] CHN-STUDENT commented on #13
@recp This is my project,hope you can get some info which you wanted form it.
[https://github.com/CHN-STUDENT/LearnOPENGL](https://github.com/CHN-STUDENT/LearnOPENGL)
And i am a learner who learns opengl,now i am learning about OpenGL Mathematics.Because my project need to use `C` not `C++`.So i want to hope using your cglm.

[2017-12-27 12:39] recp commented on #13
Thank you for sharing your project, I will try to compile it successfully ASAP

But it seems your source file (`/*cglmtest.cpp*/`) is C++ not C?

Good choice :) it is well optimized, small and fast.

But please check header files if you have any confusion about parameters,
there should be function documentation there except some header needs to be documented
also any enhancement, feature request o

[2017-12-27 13:11] recp commented on #13
Finally I installed Win10 and VS17

It seems you are getting these errors because **near** and **far** values
also defined by windows headers as MACRO:
[code]

because #include <glad/glad.h> includes windows headers.

That is funny

Possible solutions in cglm:
- Change all **near** and **far** names
- https://stackoverflow.com/questions/118774/is-there-a-clean-way-to-prevent-windows-h-from-creatin

[2017-12-27 13:30] CHN-STUDENT commented on #13
@recp Thank you!i changed all near and far names then i solved my issue!
 And You found i my source file is the C++ source file ,i think i make a mistake because the VS only can create the C++ source file,and i need to create a C source file then add it to my project instead of creating it on VS.Thank you for your suggest!

[2017-12-27 13:39] recp commented on #13
I also changed all near and far variable names (https://github.com/recp/cglm/commit/35d078a1ed01edbb8386818df379944d0bd07412#diff-3139ea130d2c802d9106a2232dfb161f) in camera header file. You can pull the lastest

There is also alignment issue in my todo: https://github.com/recp/cglm/issues/4 I hope you will not get error until I fixed it

[2017-12-28 18:48] #13 closed

[2018-01-03 11:11] recp opened #15 "TODOs and Features Queue"
General
===
- [ ] Unit tests (In Progress) **[important]**
- [ ] ARM Neon Arch (In Progress)
- [ ] Unit tests for comparing cglm with glm results **[important]**
- [ ] Unaligned operations (e.g. glm_umat4_mul)
- [ ] Extra documentation
- [ ] Performance tests

Quaternion
===
- [ ] Matrix to Quaternion
- [ ] Rotate vector with quat (we already have `glm_vec_rotate(vec, angle, axis)`)
- [ ] Half pre

[2018-01-05 06:17] CHN-STUDENT opened #17 "How can use the function in your cglm library to make mat4 to Glfloat?"
Today,i still learn the OpenGL from https://learnopengl.com/#!Getting-started/Transformations
(the Chinese version: https://learnopengl-cn.github.io/01%20Getting%20started/07%20Transformations/ )

the guide book is using c++ (the glm library) and i try to use your cglm library instead of it.

When i try to define variables `mat4 a`,use your function like `glm_rotate` to calc,the guide book tell me

[2018-01-05 07:37] recp commented on #17
Hi

It is very easy! matrix is array of columns and you pass first element of array
[code]

I made a helper for it for my renderer:
[code]

Addition, if you compile it with C compiler this could be written as (I think it is more readable):
[code]

even

[code]

I know GLM_ZUP is not very good name here (it is actually for lookat), maybe we must define alternative name

[2018-01-05 07:43] recp commented on #17
EDIT:

You can't rotate it because it is not initialized. You must initialize it like this:

[code]

or you have another option here:
[code]

`glm_rotate`, `glm_scale`, `glm_translate` assumes you pass existing transform. There are `glm_rotate_make`, `glm_scale_make`, `glm_translate_make` alternatives which assumes you don't have transform matrices

[2018-01-05 08:59] CHN-STUDENT commented on #17
@recp Thanks for your help!!!
Your give me a good suggest because i define the  variables `mat4 a` but not initialized.I think if you do not tell me,i will make a mistake too,and I am very happy to get your help and you do not mind my poor English and my poor code.
I hope you can give your library more help guide book and more demos for our beginner.It is very useful.
Thanks for your help!!!
:)

[2018-01-05 09:39] recp commented on #17
Actually you don't have to initialize all matrices or vertors... It depends.

In genereal you don't have to initialize **[out]** parameters but you must initialize **[in]** or **[in, out]** parameters. Most out parameters' name is **dest**, probably the last parameter. Some header files must be documented like vec3.h, I do that asap

I'm trying to make it more readable and easy to use, any bug rep

[2018-01-05 09:39] #17 closed

[2018-01-05 09:41] recp commented on #15
Rename `glm_scale1` to `glm_scale_uni`

[2018-01-08 19:10] recp commented on #15
Find perpendicular vector util e.g. `glm_vec_perpendicular` or `glm_vec_orthogonal` or `glm_vec_ortho`, the last one seems cool!

I found good an fast solution, only subtraction: https://www.quora.com/How-do-I-find-a-vector-perpendicular-to-another-vector/answer/Tom-Thompson-1?srid=uEqzq

We must add this to cglm. For rendering shadowmap this could be useful for selecting UP vector against light d

[2018-01-15 20:53] recp commented on #15
Proposals for double and half precision names

Types
**Double:** vec3d vec4d mat4d
**Half:**  vec3h vec4h mat4h

Unaligned Types:
**Double:** uvec4d umat4d
 **Half:**  uvec4h umat4h

Proposals for double

1. `glm_dbl_mat4_mul`
2. `glm_dmat4_mul`
3. `glm_mat4d_mul`
4. `glm_mat4_mul_dbl`
5. `glm_mat4_muld`
6. `glm_mat4_mul64`
7. `glmd_mat4_mul` <- looks good but there will be call verison `glmcd_mat

[2018-01-19 09:50] recp commented on #15
TODOs for vector:

- `glm_vec_shuffle`, `glm_vec4_shuffle`
- SSE3, SSE4 support for `dot`, `cross` products
- `glm_vec_muladd`, `glm_vec4_muladd` 
- `glm_vec_hadd`, `glm_vec4_hadd` similar to SIMD hadd, hsub

[2018-01-20 16:27] recp opened #25 "SIMD shuffle optimization"
It seems using `pshufd` instead of `shufps` can save some `move` instructions. But pshufd is in integer domain and shufps is in float. It seems we get correct results with `pshufd` too. But there are some discussions about bypass delay (I'm still investigating). I tested on my machine results seem identical. Since the results are identical why don't we save some instructions to save binary size?

[2018-02-16 04:28] cheako opened #26 "Ubuntu/Debian packages available."
I've uploaded cglm to a PPA located here:
https://launchpad.net/~cheako/+archive/ubuntu/cglm

There are several reasons why this source pkg would not be accepted into Debian:
1. The copyright file is still the default.
1. There is no documentation or manual pages, each exported function should be clearly defined.

[2018-02-16 07:59] recp commented on #26
@cheako thank you for this!

I don't know what this means, it is unmodified MIT License, I added credits to LICENSE but I'm not sure it is the right place, I may move them to CREDITS file I don't know what is best or right

Actually each function documented in its header, I only documented inline versions, should I do same for no-inline (call) versions too?

Each exported function are defined in i

[2018-02-17 20:45] cheako commented on #26
The comments are related to the "source debian package".  The debian/copyright file is a stub and not filled out and there is no documentation installed by the generated binary packages to /usr/share/doc.

It's a lot of work to properly document a sources licensing, it's nowhere near as easy as just saying "MIT License" and I loath doing this.  I realy realy don't believe it should be the responsi

[2018-02-18 08:03] recp commented on #26
FWIW, I have created a CREDITS file to keep LICENSE clear and unmodified.

cglm uses [sphinx](http://www.sphinx-doc.org/) for docs. You can see at docs cglm/docs folder. http://cglm.readthedocs.io  gets docs from this folder and builds it.

Docs (http://cglm.readthedocs.io/en/latest/) is still incomplete, I will update it in my free time.

Package manager could trigger sphinx build: http://www.sph

[2018-02-19 06:57] bnpfeife opened #27 "glm_mat4_scale Incorrect"
I've encountered an issue with glm_mat4_scale. I'm using it to scale a model and I'm using it like so:
`mat4 m = GLM_IDENTITY_MATRIX;`
`glm_mat4_scale(m, 0.5f);`

The 'm' matrix becomes:
`0.5 0.0 0.0 0.0`
`0.0 0.5 0.0 0.0`
`0.0 0.0 0.5 0.0`
`0.0 0.0 0.0 0.5`

This, however, does not scale the model. I believe that `w` is supposed to be unchanged. If I add the following after 'glm_mat4_scale', the

[2018-02-19 07:55] recp commented on #27
@bnpfeife thank you for reporting this. But you miss something which is that mat4_scale multiplies matrix with scalar :)

[code]

You should use `glm_scale` and its convenient functions to apply scale transform.

`glm_scale_uni(m, 0.5)` gives what you want. `glm_scale` accepts vector (x, y, z) but **_uni**  version applies uniform scale (x, x, x)

You could also use `_make` version to create trans

[2018-02-19 09:12] recp commented on #27
Glad to see that it helped.

No problem, I may miss somethings while optimizing it or adding somethings new. Getting feedbacks / issues may help to fix bugs or improve the library.

[2018-02-21 08:15] Thak676 opened #28 "Can't install on my system."
Hello,

I have a Mac. I'm having trouble installing this on my system, although I have run sh build-deps.sh multiple times (although I removed the directory and re-cloned from git each time I tried).

I know I haven't provided much information, but I really don't know what info to provide.

One thing I thought was rather strange is that build-deps.sh was outputting this:

-- Looking for io.h
-- Lo

[2018-02-21 08:46] recp commented on #28
Hi @Thak676,

`build-deps.sh` is only required if you want to run tests. I run it on my macOS but it passed. Maybe you need to install Xcode or command-line tools:
[code]

`cglm` uses https://cmocka.org for TESTS and it also requires cmake.

[2018-02-21 08:55] recp commented on #28
I updated README, check Build section for unix.

[2018-02-21 13:27] Thak676 commented on #28
Thank you.

I tried again, but still not working. X-code command line tools are already installed. Here is what happens when I ./configure:

`checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for a thread-safe mkdir -p... ./install-sh -c -d
checking for gawk... no
checking for mawk... no
checking for nawk... no
checking for awk.

[2018-02-21 13:28] Thak676 commented on #28
the ./configure formatting came out poorly above, so here it is again in (hopefully) better format. Thanks so much for helping me btw.

checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for a thread-safe mkdir -p... ./install-sh -c -d
checking for gawk... no
checking for mawk... no
checking for nawk... no
checking for awk... awk

[2018-02-22 15:57] Thak676 commented on #28
Yes! That worked!! Thank you sooo much!!!

Great library by the way! I'm surprised it doesn't get more attention!

[2018-02-22 16:11] recp commented on #28
@Thak676 which one worked for you ? I would like to update the build script, or if you would like to create a PR, it is welcome :)

Thank you for the kindly words, it is new library and it needs time :) Also one reason users may avoid to use this is that **cglm** doesn't return vec3/vec4/mat4... C language doesn't allow to return arrays. FWIW, I think **dest** parameter (in/out style) makes functi

[2018-02-22 16:45] Thak676 commented on #28
I see! The first one worked for me, and I didn't try the second one.

[2018-02-22 16:49] recp commented on #28
@Thak676 thank you. It is time to close this issue.

[2018-02-22 16:49] #28 closed

[2018-02-22 16:55] Thak676 commented on #28
Would you like me to test out if the second option works for installing on my system also?

[2018-02-22 17:00] recp commented on #28
@Thak676 not necessary.  I updated `-Wpedantic` to `-pedantic` and pushed to master.

Feel free to create an issue for any troubles and confusions

[2018-02-27 19:49] recp opened #30 "Euler angles proposal"
Ken Shoemake's algorithm seems most common one, it also handles 24 different permutations of rotation order. Maybe instead of providing separate functions for euler angles we could adopt that algorithm / codes.

Related implementation (Graphics Gems IV): https://github.com/erich666/GraphicsGems/tree/master/gemsiv/euler_angle
https://github.com/erich666/GraphicsGems/blob/master/gemsiv/euler_angle/E

[2018-03-03 15:24] recp commented on #26
@cheako I have just completed documentation, actually I borrowed API documentation from headers,
you can see the latest version at: http://cglm.readthedocs.io

readthedocs gets it from `cglm/doc` folder. After installed Sphinx (http://www.sphinx-doc.org/en/master/usage/installation.html) you can build docs like this:

[code]

it will compile .rst files in `docs` into .html file, you can grap them

[2018-03-12 15:48] cheako opened #32 "Support for Vulkan NDC."
https://matthewwellings.com/blog/the-new-vulkan-coordinate-system/

#define GLM_DEPTH_ZERO_TO_ONE
#define GLM_FORCE_LEFT_HANDED

[2018-03-12 19:05] recp commented on #32
It would be great to have that feature!

Actually it is in TODOs but since I'm not working on Vulkan yet, I can't test it. Currently I'm working on a render engine (http://github.com/recp/gk) which is based on OpenGL. In the future I'll implement Vulkan API,  I can't work on it until that time.

If anyone want to implement it before me, it would be appreciated. Otherwise I will postpone this until

[2018-03-18 14:33] cheako commented on #32
From my research this should adjust OpenGL NDC to Vulkan NDC.
[code]

[2018-03-18 19:26] recp commented on #32
Excellent! But in the future we should provide OPTION macro as your first proposal like **glm**  e.g. GLM_DEPTH_ZERO_TO_ONE, GLM_FORCE_LEFT_HANDED

My main concern is this requires extra CPU cycles and memory :-S also makes codes more complex, I don't think someone would want to extra matrix multiplication

Actually I don't need to Vulkan to implement ZER_TO_ONE check this answer:
https://stackove

[2018-03-19 05:28] cheako opened #33 "Reflect, code."
[code]

[2018-03-19 11:18] recp commented on #33
Would you mind to create a PR for this?
  - 2 spaces instead of TAB[s]
  - vec3 version

If we want to create call version like `glmc_vec4_reflect` then the macro will be problem here, cglm must be rebuild with this macro.

[2018-03-25 07:19] recp opened #36 "wrong euler angles order"
It seems euler angles implemented in reverse order of **intrinsic** rotation which makes it **extrinsic** rotation. But cglm docs says that these rotations are **intrinsic**

If the euler order is wrong then it must be fixed asap. All we need to do is change functions names. Check also https://github.com/g-truc/glm/pull/744

[2018-03-26 22:17] Thak676 opened #38 "Trouble Installing"
I am trying to install on a different machine now (mac). When I run sh autogen.sh, I get the following:

autogen.sh: line 20: autoheader: command not found
autogen.sh: line 21: libtoolize: command not found
autogen.sh: line 22: aclocal: command not found
autogen.sh: line 23: autoconf: command not found
autogen.sh: line 24: automake: command not found

[2018-03-26 22:48] Thak676 commented on #38
Fixed.

I did brew install autoconf automake libtool
and then it worked. Sorry if this was obvious.

[2018-03-27 07:33] recp commented on #38
Yes, **autotools** (automake, autoconf, libtool...) must be installed before run build scripts for autotools. Maybe I should update README about how to install autotools

[2018-03-27 07:35] recp commented on #36
Follow this PR: https://github.com/recp/cglm/pull/37

[2018-03-28 21:18] recp commented on #36
Fixed by: https://github.com/recp/cglm/pull/37

[2018-03-28 21:18] #36 closed

[2018-04-02 20:25] recp commented on #15
- `vec_exp`
- `vec_log`
- `vec_pow` = exp(log(v) * p)

especially vec4 version could use SIMD instructions.

I want to add these functions because we could use  `glm_vec4_pow(srgb, 2.2f, linear)` for **sRGB** to **LINEAR** or vise versa `glm_vec4_pow(linear, 1.0f / 2.2f, srgb)`

[2018-04-04 19:59] recp commented on #25
follow this PR: https://github.com/recp/cglm/pull/42

[2018-04-15 16:14] recp opened #45 "Rotation Proposal"
`glm_rotate()` applies rotation at origin. I think we could provide a helper for rotating at arbitrary point.

Candidates:

- `glm_rotate_around()` - Rotation Around Point
- `glm_rotate_at()` - Rotation At Point

I like the second one, I'm going to implement it asap.

After:
[code]

[2018-04-16 19:05] recp commented on #45
Since rotation is performed at origin,

The algorithm is:
1. Translate pivot (e.g. object center) to origin
2. Apply rotation (plus scaling maybe)
3. Translate object to its original position

I was confused about this yesterday but now I think everything is clear. It is also mentioned at "Real-Time Rendering, Third Edition" book. (equation 4.7):

**X = T(p)Rz(φ)T(−p)**

Yesterday I proposed like

[2018-04-16 19:47] recp commented on #45
Quaternion version:

[code]

[2018-04-18 12:33] recp commented on #45
By starting v0.4.2 we have both `glm_rotate_at ` and `glm_quat_rotate_at`

[2018-04-18 12:33] #45 closed

[2018-04-22 09:46] recp opened #47 "Install via Package Managers"
I created CocoaPods spec, so now Xcode users can import **cglm** to their project via CocoaPods.

[code]

If you use `use_frameworks!` in Podfile, it will create `cglm.framework` and you will have to include headers as `#include <cglm/cglm/cglm.h>` or `@import cglm;`, `@import cglm.cglm;`, `@import cglm.call;`, `@import cglm.mat4;`...

Import framework header syntax:
`#import <FrameworkName/Header

[2018-04-30 02:53] Yatima1460 opened #48 "warning: "__SSE2__" redefined"
It would be nice to not define **\_\_SSE2__** if it's already defined, otherwise the log would fill of warnings:
_"warning: "\_\_SSE2\_\_" redefined"_ for every include of cglm.h.
Mingw-w64 x86_64-7.2.0-posix-seh-rt_v5-rev1 already defines it.
Thanks.

[2018-04-30 15:17] luluco250 commented on #48
@recp I was only able to compile cglm under MSVC by commenting out the `CGLM_EXPORT` macro.

The problem is that it is illegal in MSVC to declare a function as `__declspec(dllimport)`, which clgm does for what seems to be all of it's functions. For example, this function from `affine.c`:

[code]

Breaks for me in Visual Studio 2017, because it's declaring the function as `__declspec(dllimport)` (w

[2018-04-30 16:11] recp commented on #48
@Yatima1460 thanks, it is merged!

Would it be possible to setup mingw build on AppVeyor CI as parallel to msvc build, any ideas?

[2018-04-30 18:06] recp opened #50 "build: autogen.sh permission"
Homebrew team wanted me to create an issue about permissions of `autogen.sh`. FWIW, Build instructions are already placed in README and docs.

`autogen.sh` file is not set to be executable. It is just a wrapper that calls these commands for you:
- `autoheader`,
- `libtoolize`,
-  `aclocal`,
-  `autoconf`
-  `automake`

you may need execute permission to execute it (autogen.sh). You have a few opti

[2018-05-01 16:48] recp commented on #47
Update:

Homebrew package has been approved! Now cglm can be install on macOS via `brew` like:

[code]

[2018-05-03 20:03] Yatima1460 opened #51 "glm_vec4_copy segfaults with unaligned memory"
I want to notify that glm_vec4_copy crashes if SSE2 is enabled and operates on a vector saved in misaligned memory!

It seems the instruction **_mm_store_ps** segfaults if it operates on non-aligned memory.

I had a struct the size of 20 bytes before an array of vectors and it crashed.
After padding the struct to 24 bytes everything worked perfectly.

I think CGLM should check if memory is aligned

[2018-05-03 20:11] Yatima1460 commented on #51
Found out SSE requires its memory access to be with 16-byte aligned addresses.
Maybe we could add a #define to use **_mm_storeu_ps** and **_mm_loadu_ps**, which are unaligned versions

[2018-05-03 21:38] recp commented on #51
Actually it is explicitly expressed in docs:
http://cglm.readthedocs.io/en/latest/getting_started.html#aligment-is-required
http://cglm.readthedocs.io/en/latest/troubleshooting.html

For matrix we have this versin:

[code]

**u** stands for unaligned. **ucopy** is unaligned version of **copy**. **copy** name was **dup** (duplicate), udup seems weird to me and I had to rename it to copy :)

This ve

[2018-05-03 21:46] recp commented on #51
Actually this is not bad idea, I'll think on this

[code]
this could force all load operations as unaligned for current design

[2018-05-03 22:10] Yatima1460 commented on #51
http://cglm.readthedocs.io/en/latest/getting_started.html#alignment-is-required
http://cglm.readthedocs.io/en/latest/troubleshooting.html

Oh I meant in the docstring on top the functions!

==========================

Possible reasons:
- __declspec modifier is not permitted on function parameters.
- the stack is guaranteed to be aligned to 16-bytes on Win64 so the compiler can pass it on the stack

[2018-05-04 08:37] recp commented on #51
Added to TODOs 👍

Good catch! I tried to build cglm using VS2015 with x64, build passes, but I tried using VS2015 with x86, build failed due to alignment error. I didn't know Win64 and win32 difference here, thanks for sharing it.

It seems Visual Studio 2017 fixed it for x86, does it? Because it passes for both x64 and x86.

Any suggestions to fix alignment issue on msvc for win32? We can uncomme

[2018-05-07 17:20] cheako opened #52 "Building with emscripten."
Looks like there is an issue with the order and spaghetti of the headers.

This fixed the issue for me.
[code]

[code]

[2018-05-07 17:39] recp commented on #52
Maybe all we need to do is add `#include "mat3.h"` to `affine-mat.h`:

Before:
[code]

After:
[code]

Can you try this too?

I think all headers should be independent of `cglm.h` include order, this would offer to include individual headers for specific purpose instead of including all at once

[2018-05-07 18:06] cheako commented on #52
This didn't help.  From what I see there is a dependency loop and if you enter the loop too early then you'll never get the exports u need when u need them.  Sorry if I'm not good at explaining this, but essentially it's falling because mat4.h includes quat.h and quat.h includes affine-mat.h.  If you remove quat.h from mat4.h that also solves this.

[2018-05-07 18:15] recp commented on #52
Very nice! It seems no funcs are used with **glm_quat_** prefix in mat4 header so we can remove it from mat4.h
I added **mat3.h** to **affine-mat.h** and removed **quat.h** from **mat4.h** with this commit: https://github.com/recp/cglm/commit/0f339c5c03f73b6751ffeb00e6e9f4a8620bae42

Is it ok now?

[2018-05-07 19:39] cheako commented on #52
I'm setting this assid for now, emscripten is ignoring my attempts to tell it not to prune the glmc_* functions due to not being reachable.  I don't think they meant for it to expose a C API to javascript.

[2018-05-07 20:29] cheako commented on #52
Here is my result, but I think it's far from usable.
https://pastebin.com/Wp4UYiVr
https://github.com/kripken/emscripten/issues/6512

[2018-05-07 21:08] recp commented on #52
I tried to build with emscripten I got this warning:

`
WARNING:root:Dynamic libraries (.so, .dylib, .dll) are currently not supported by Emscripten. For build system emulation purposes, Emscripten will now generate a static library file (.bc) with the suffix '.dylib'. For best practices, please adapt your build system to directly generate a static LLVM bitcode library by setting the output suffix

[2018-05-07 21:43] recp commented on #52
Also there is SIMD porting option: https://kripken.github.io/emscripten-site/docs/porting/simd.html

Also cglm doesn't use any memory functions e.g. malloc, memset... I think, generating them in JS is irrelevant/redundant. All allocations inside functions are on stack not on heap. IIRC, only some math functions are used e.g. **sinf, cosf**

String functions are used in io.h for printing values. It

[2018-05-08 12:52] recp commented on #51
@Yatima1460 check this PR: https://github.com/recp/cglm/pull/53

Now alignment requirement is configurable. Defining `CGLM_ALL_UNALIGNED` macro will force all load and store operations to use simd instruction which does not require any alignment. Maybe we could make this as default behavior in the future.

Also if compiler is msvc and build configuration is 32-bit then this option could be enabled

[2018-05-08 15:18] cheako commented on #52
Here is a new copy that has inlined the memory initializer.
https://pastebin.com/Qvffy0d3

What I did was ran ```CC=emcc ./configure```.

[code]

Without EXPORTED_FUNCTIONS all the glmc_ stuff is removed as dead code.

[2018-05-08 20:25] recp commented on #52
The generated js could be better / smaller. I don't understand why it generated default values for parameters like this:

[code]

I think it is redundant. It uses `Float32Array` and I really liked this.

Also it would be nice to convert **glmc_** functions as **glm_** in js side. I don't know how :)

Is it possible to generate separate js files for each C file in src folder? Because it would save

[2018-05-08 20:48] cheako commented on #52
Those r not default values, it's similar too ```$0 = +$0;```.  I believe this is asm,.js a form of ahead-of-time compilation for Javascript.

I would guess a simple fine/replace could be used to rename functions en masse.

[2018-05-08 21:02] cheako commented on #52
Here it is as wasm.
[libcglm_wasm.zip](https://github.com/recp/cglm/files/1985650/libcglm_wasm.zip)

[2018-05-08 21:02] #52 closed

[2018-05-09 16:33] Yatima1460 opened #54 "Strange behavior glm_lookat"
I am adding a map editing mode, so the camera will look down on the world

These two versions work perfectly:

glm_lookat((vec3){100,30,100},(vec3){100,0,100.1},WORLD_VECTOR_UP,camera_view_matrix);
glm_lookat((vec3){100,30,100},(vec3){100,0,99.9},WORLD_VECTOR_UP,camera_view_matrix);

The output of 100.1 is:

Matrix (float4x4):
	|-1.0000	0.0000	0.0000	100.0000|
	|0.0000	0.0033	1.0000	-100.0994|
	|-

[2018-05-09 20:43] recp commented on #54
What is **WORLD_VECTOR_UP** value? If it is standard value like Y_UP or Z_UP then you can use GLM_YUP, GLM_ZUP and GLM_XUP for this purpose.

I assume WORLD_VECTOR_UP is `0, 1, 0`,

`glm_lookat` uses a cross product of `center - target`, so in your case `center - target` yields UP vector direction. cross product of same direction or parallel vectors yields ZERO vector. In this case view matrix wil

[2018-05-10 10:58] recp commented on #4
Now alignment requirement is disabled for older visual studios, also it is optional now :https://github.com/recp/cglm/pull/53

[2018-05-10 10:58] #4 closed

[2018-05-10 13:47] recp commented on #25
Implemented in #42

[2018-05-10 13:47] #25 closed

[2018-05-10 14:00] recp commented on #51
[v0.4.5](https://github.com/recp/cglm/releases/tag/v0.4.5) is released and alignment is now optional. Disabling alignment will also disable ALIGN attributes, you can still apply alignment to data yourself. Because accessing aligned data should be faster.

[2018-05-10 14:00] #51 closed

[2018-05-10 14:01] #48 closed

[2018-05-26 08:51] recp opened #55 "transform vec3 with mat4"
A few helpers available for transforming **vec3** with **mat4**

- `glm_mat4_mulv3`
- `glm_vec_rotate_m4`

but both use rotation part. The second one already applies rotation (ignores scaling) and the first one could apply translation too. I'm going to change `glm_mat4_mulv3` behavior to apply translation like

result = vec3(mat4 * vec4(inputVector, 1.0))

Current signature of func :

`glm_mat4_mu

[2018-05-27 09:06] recp commented on #55
We now have `glm_mat4_mulv3(mat4 m, vec3 v, float last, vec3 dest)` in v0.4.6.

[2018-05-27 09:06] #55 closed

[2018-05-29 08:33] recp commented on #54
@Yatima1460 Did that help you fix your issue? Or if you already fixed that issue, maybe sharing solution would help to others :)

Also I added a note about up vector (copy-pasted from OpenGL docs): https://github.com/recp/cglm/commit/af812e86ebc06aca69d27a058bcd6e5d4ec52923

We can close this issue if the issue is not present anymore?

[2018-05-30 05:11] Yatima1460 commented on #54
Oh yes anyup would have fixed it (I don't need this code anymore), the real issue here was the missing documentation.

Those edge cases should always be documented, I will let you know if I will find any other ones without doc strings.

Thanks

[2018-05-30 08:10] recp commented on #54
@Yatima1460 thank you 🤗

[2018-05-30 08:10] #54 closed

[2018-06-07 08:19] cheako commented on #52
I've turned the output of emscripten into something that one day might be useful.  https://github.com/cheako/cglm-js   Currently it's built without SIMD support, because my platform(duktape) doesn't support it.  A copy of the emscripten output with SIMD compile flags could easily be put into place and everything should work.

[2018-07-04 07:42] #50 closed

[2018-07-16 14:24] jonathanplatzer opened #58 "Type Safe Implementation"
What is the stance on a type-safe wrapper that utilizes structs or unions instead of arrays?

Is there any interest in a wrapper (kind of like the call "wrapper") that adds type safety?

[2018-07-16 18:18] recp commented on #58
**cglm** uses arrays because;

1. It makes possible to load vectors directly to SIMD register.
2. It makes possible to pass vector/quaternion/matrix... to GL API e.g. OpenGL directly.
3. It makes possible to iterate members through loop or accessing members by index
4. It makes possible to use similar functions on different types without violating language rules (I guess). For instance using _vec4

[2018-07-16 21:01] jonathanplatzer commented on #58
Yes, I'm completely with you on the advantages of using arrays for things like SIMD, the OpenGL API and so on.

You built this library with C99 as the target (or even C89 with language extensions), so I wouldn't want to break API compatibility by using anonymous structs/unions from C11. Also, the semantics for accessing variables is a not an issue for me, because in my opinion it doesn't really ma

[2018-07-17 07:56] recp commented on #58
because there is no error in compile-time.

In C arrays decay to pointer, so vec2, vec3, vec4 all will be decayed to **float*** so there will no compile-time error or warnings because all passed parameters have same type: **float***.

This is not god for type-safety but it is good for some cases:
- I can call vec3 function on vec4: this is valid. For instance I can copy result vec3 into a column o

[2018-07-17 10:19] jonathanplatzer commented on #58
Attributes seem very good for this. The thing that I'm concerned about with them is portability. The `__ext_vector_type__(X)` attribute for example is only supported by Clang, for GCC we would have to use `vector_size(X)` as attribute, and for MSVC I have no idea if they have some kind of `__declspec` that supports things like this...

But all in all, yes this would be a very good solution for typ

[2018-07-17 12:07] recp commented on #58
Yes portability is an issue here. Otherwise it provides cool features: https://gcc.gnu.org/onlinedocs/gcc/Vector-Extensions.html

It also allows to return vector type and allows ( + - * / >> << ...) operators, this seems fantastic:

[code]

after added attribute we don't have to do anything to support this feature.

Maybe we could enable this feature if supported by compiler as alternative syntax:

[2018-07-17 14:08] jonathanplatzer commented on #58
Yes, I think also that breaking the existing API is a non-option here.

What would you say would be the best course of action getting this thing going?
Is there anything that I can help with?

[2018-07-17 15:56] recp commented on #58
Agree, it is not an option

Actually I will spend some time on vector attribute later. Since it depends on compilers, why would someone want to rely or build something on specific compilers instead of language standards just for syntax. I'm not sure.

Maybe we should find alternatives to vector-atribute.

First, I must say that glad to see you here to discuss about design of library. This is a thi

[2018-07-23 13:21] winduptoy opened #60 "glm_vec_distance2"
See documentation: http://cglm.readthedocs.io/en/latest/vec3.html#c.glm_vec_distance2

This function is missing in the source code. Is there any reason that it got removed? I think that having a non square-root function is handy for performance when sorting by distance or something, when exact distances are not needed.

[2018-07-23 13:22] winduptoy commented on #60
Oops! I was running an old version of cglm! Sorry about that.

[2018-07-23 13:22] #60 closed

[2018-07-23 14:17] recp commented on #60
Hi @winduptoy,

A new version have just been released 0.4.8: https://github.com/recp/cglm/releases/tag/v0.4.8
You may want to use that if you pull sources using tag.

There is a critical bugfix (alignment bug) for AVX in that release.

Actually we need more tests on new features. After implementing some features on my render engine, I will try to write more unit tests.

Best

[2018-07-26 09:38] recp commented on #58
I think adding an option for struct is good idea:

[code]

[code]

[code]

Example API implementation (`glm_vec_mul`):
[code]

I think this wont break existing API. As you can see all are options, alternative syntax. It also provides optional anonymous struct syntax. If it is not enabled then your proposed syntax will be activated by CGLM_USE_STRUCT.

Also in the future we can provide another opti

[2018-07-26 11:58] recp commented on #58
UPDATE:

I removed GLM_ prefix from helper macros cglm headers, now it looks more clear:

[code]

[code]

I'm restoring these X, Y, Z... macros in end of header by including new `common-end.h` header. So it is safe to use them. Now it looks more readable. Also compiler raises an error (not warning) if I use vec3 function on vec4... perfect!

I will inspect assembly output later.

[2018-08-16 19:11] recp commented on #10
Do not worry, you are welcome to ask anything!, it helps to improve this library.

cglm was used **wxyz** layout/order until this pull request: https://github.com/recp/cglm/pull/43 and version  v0.4.0. Check the last comment in PR ;)

Currently it must use **xyzw** and now quaternion api is more powerful than before. So last element is **w** now, it is real part yes.

If there is a bug please let

[2018-08-17 14:35] winduptoy commented on #10
Awesome, thanks for explanation. You're improving the library faster than I can keep up!

As always, thank you for this wonderful library and your excellent work.

[2018-10-04 08:45] jonathanplatzer opened #62 "Binary Constants in AVX implementations"
While playing with various compiler flags on my machine with AVX support, I noticed that you are using binary constants in the `mm256_permute` functions, which are GCC extensions. This could lead to some problems when trying to compile on MSVC, but it is also not supported when using ISO C99.

The question is now if we should just change these to hex constants or do something like this to make it

[2018-10-05 06:10] recp commented on #62
@jonathanplatzer I didn't aware that binary constants are GCC extensions, thanks.

Maybe we can always use hex instead of if/else?

To make it more readable, I think we could add comments, for your case:
[code]

or a macro could help to make it more readable maybe. Because macro name could give us an idea what control/imm parameter does.

I'll read Intel Intrinsics Guide asap to remember control p

[2018-10-19 06:52] #62 closed

[2018-11-23 11:33] brettridel opened #66 "Bug in vec2 implementation"
I detected bugs in the implementations of some vec2 functions.
At the moment, there is at least **glm_normalize**, **glm_vec_normalize** and **glm_vec_norm**

It seems that there are no specialized vec2 functions, so the vec3 ones are utilized. Therefore, these functions uses unpredictable third coordinates instead of a z coordinate set to zero.

[2018-11-23 13:59] recp opened #67 "Feedbacks for vec3 update"
* Do we want to change `glm_vec_` namespace to `glm_vec3_`?
* I want to rename `glm_vec_flipsign()` to `glm_vec_negate()` and deprecate `glm_vec_flipsign()` in favor of negate
* `glm_vec_inv()` inverts sign of components (same as negate) but probably it should invert vector components like glMatrix.js (https://github.com/toji/gl-matrix/blob/master/src/vec3.js#L321)? :

[code]
* it seems cglm shoul

[2018-12-05 13:13] vikke1234 opened #69 "error when running make check"
[test-suite.log](https://github.com/recp/cglm/files/2648917/test-suite.log)
attached error log

[2018-12-05 13:36] recp commented on #69
Hi @vikke1234, thanks for sharing the test results.

I guess comparing result like `m3[i][j] == 1.0f` is not good idea after float multiplication.
I replaced that with`glm_eq(m3[i][j], 1.0f)` and it should fix test.

Can please you pull master and check result again?

Thanks

[2018-12-12 14:49] vikke1234 commented on #69
@recp I did that, still fails
[test-suite.log](https://github.com/recp/cglm/files/2672284/test-suite.log)

[2018-12-13 06:31] recp commented on #69
@vikke1234 thanks, what is your environment e.g operating system (with version), compiler, cpu... ?

One another thing to do could be printing failed matrix before asserts, could you do that (test/src/test_mat3.c)? You can print matrix with `glm_mat3_print(m3, stderr);`, it uses %0.4f precision (probably not enough); you can change that for test or you can print matrix manually

`glm_eq` uses **FL

[2018-12-20 00:46] vikke1234 commented on #69
@recp ubuntu 18.04, intel i5-8250U, I belive it used gcc to compile it, but I tried to print the matrix but didn't do anything. Also sorry for being slow at responding, I've been very busy the past few weeks.

[2018-12-23 22:52] vikke1234 commented on #69
@recp I ran the test on another computer same issue
[test-suite.log](https://github.com/recp/cglm/files/2706375/test-suite.log)

[2018-12-24 06:36] recp commented on #69
I have run tests on Ubuntu VM, I got similar results (tests failed). But if I use volatile in loop variables then tests pass:

Before (`test/src/test_mat3.c`):
[code]

After:
[code]

it is weird, somehow CPU caches **i** and/or **j** values and re-uses them instead of getting new value.

This seems not true on macOS, it always passes, probably it uses clang, maybe using gcc would cause to get same

[2018-12-26 07:00] recp commented on #69
@vikke1234 built-in alignment is removed from vec3 and mat3 types, can you pull master branch and re-run tests for new changes?

[2018-12-27 23:50] vikke1234 commented on #69
@recp yeah, now it passes everything, thank you!

[2018-12-27 23:50] #69 closed

[2019-01-29 01:23] ccworld1000 opened #73 "Does the library support Mac OS?"
Does the library support Mac OS?

[2019-01-29 06:58] recp commented on #73
Hi @ccworld1000

Yes it does, macOS is my main development environment ;)

Are there any issues or bugs about running on macOS?

[2019-01-29 07:19] ccworld1000 commented on #73
Thank you. I haven't seen the corresponding introduction for mac.

Can cocoapods import be supported?

Or I'll try it later.

[2019-01-29 08:06] recp commented on #73
Check this issue: https://github.com/recp/cglm/issues/47

I was added **cglm** to Cocoapods and Homebrew, Homebrew formula is updated regularly but I did not update cocoapod recently :( You are welcome to update it or you can wait for me

[2019-01-29 08:16] ccworld1000 commented on #73
OK! I'm trying to deal with it, to see if there's a conflict.

[2019-01-29 08:17] ccworld1000 commented on #73
![5ce7e183-090a-486b-a7cd-754c342380d3](https://user-images.githubusercontent.com/22360168/51893928-59a35180-23e1-11e9-8161-dbf13c9209e9.png)

Seemingly privileged

[2019-01-29 08:34] ccworld1000 commented on #73
I want to make up for all the versions that are not available in the follow-up of the project.

[2019-01-29 08:36] recp commented on #73
[code]

[2019-01-29 08:38] ccworld1000 commented on #73
![8066969d-e7d6-4db6-9515-d3d523351dd0](https://user-images.githubusercontent.com/22360168/51895032-3332e580-23e4-11e9-9b8a-9013ec8a001a.png)
I'll deal with the rest.

[2019-01-29 08:39] recp commented on #73
Perfect! Now we can close this issue, I guess?

[2019-01-29 08:40] #73 closed

[2019-01-29 08:57] ccworld1000 commented on #73
![b2557933-e65e-4992-8f03-6e38cac31054](https://user-images.githubusercontent.com/22360168/51896216-edc3e780-23e6-11e9-8f4e-194e909acb3c.png)

It is OK now

[2019-02-10 16:41] heitaoflower opened #75 "Crash Exception on VisualStudio2017"
Hi my friend, I always encounter a issure like below. when I call something like
 `glm_translate(model->transforms[0], model->position);`

`glm_translate(mat4 m, vec3 v) {
#if defined( __SSE__ ) || defined( __SSE2__ )
  glmm_store(m[3],`

My compiler told me exception when access some address.

[2019-02-10 19:45] recp commented on #75
Hi @heitaoflower,

There are some reasons you may get this or similar errors, crashes:

- Input or output parameters (`model->transforms[0]` and `model->position` in your case) may be **NULL**
- `vec4`, `versor` and `mat4` requires alignment (16 byte for vec4/versor, 32 byte for matrix if AVX enabled, if not then it only requires 16 byte alignment). If `model->transforms[0]` or `model->position` i

[2019-02-11 01:27] heitaoflower commented on #75
It works now, Thank you very much for your explanation!

[2019-02-11 02:06] #75 closed

[2019-03-19 09:31] stfx commented on #67
I thought about trying to integrate the library in a released game which requires high performance and not having vec2 functions is definitely a bit of a showstopper. Changing the vec3 namespace is probably needed afterwards to reduce confusion. Also having type safety with equal performance would definitely increase the accessibility/usability of this library.

[2019-03-19 10:11] stfx commented on #33
I think we don't need the temporary variable and the macro (normal should be expected to be normalized by user before):
[code]

[2019-03-19 10:32] recp commented on #67
@stfx thanks for your feedback[s]. I'm glad to see that you have considered **cglm** to be used in your game. **vec2** was in my TODOs and still in TODOs :)

I may work on it soon, after created a PR of **vec2**, feedbacks will be welcome especially from who uses **vec2** in their game, engine...

 if you need specific **vec2** features then please let me know by creating an issue or a Pull Reques

[2019-03-19 10:39] recp commented on #33
Would you mind to create a PR for this? 😁

[2019-03-19 15:35] haxpor opened #76 "[Question] Why only vec3 in this particular line use CGLM_ALIGN(16) instead of CGLM_ALIGN(8)"
I'm curious why this only [line](https://github.com/recp/cglm/blob/8fa21a1837783154589fbef2fc2a515aa5360946/include/cglm/affine-mat.h#L155) using `CGLM_ALIGN(16)` instead of `CGLM_ALIGN(8)` as the latter is used all across the board for all other vec3 declaration.

I probably miss and didn't have intuition about something here. But would love to understand this as now my wires to the following acc

[2019-03-19 19:26] recp commented on #76
Hi @haxpor,

`CGLM_ALIGN(8)` could be enough here, probably copy-paste error :) actually built-in alignment is removed from **vec3** and **mat3** types recently, so there is no strict requirement for alignment for vec3/mat3 anymore...

In the future we may use SIMD to load/store **vec3** (e.g. by using [glmm_laod3](https://github.com/recp/cglm/blob/master/include/cglm/simd/x86.h#L118) or something

[2019-03-19 19:49] haxpor commented on #76
Alright! Thank you for detailed explanation, and great project.

[2019-03-19 19:49] #76 closed

[2019-03-19 22:07] acoto87 commented on #58
Hi, I don't know what's the state of the development of this. Since you are adding an option to use structs instead of arrays, can the operations return the result instead of passing the destination as the third parameter?

That would allow code like:

[code]

I know since its inception `cglm` is using the last parameter as the destination, but probably that was because of the limitation of C to r

[2019-03-20 09:11] stfx commented on #33
glm also has SSE2 code for the vec4 variant:
https://github.com/g-truc/glm/blob/master/glm/simd/geometric.h#L94

Sorry but I don't know SIMD and can't even test it.

[2019-03-20 20:15] recp commented on #33
Thanks for sharing that. I'll implement this in the future.

FWIW, for **vec4** functions even if we won't use SIMD directly; since **vec4** functions are optimized with SIMD, using **vec4** functions may give similar assembly output to pure SIMD implementation. Using pure SIMD or `glmm_` api will save some load/store...

[2019-03-20 21:39] acoto87 commented on #58
I read the whole thread again, and your proposal about the structs seems feasible to me. I like that with that option there no need for wrappers.

Although, taking a look about the returning structs instead of passing a reference:

[code]

Would this kind of wrappers needed then?
And the `CGLM_ANONYMOUS_STRUCT` wouldn't work on C99, right?

[2019-03-21 06:12] recp commented on #58
`glmr_` is not bad but there maybe better namespaces for structs like `glms_` or `glm_svec3_`... maybe.

Struct wrapper could be:

[code]

**vec3** is array so I used new type called `svec3`, it could be `vec3s` or something else. I want to keep existing array api because I like it and there are some benefits to use arrays... It would be nice to bring type safety for array api too 😔 maybe compiler

[2019-03-21 07:11] acoto87 commented on #58
Yes, your `glms_vec3_mul` make much more sense. I didn't notice what I wrote doesn't compile if vec3 is a struct and `glm_vec3_mul` is the regular array function :sweat_smile:.

So, I like the `vec3s` syntax, the `3` separate very well the base type and the implementation, meaning this is a `vec3` but with structs `s`. Also, the `glms_` namespace to be consistent.

I think tomorrow I'm going to ma

[2019-03-22 02:21] acoto87 commented on #58
Well, I did some tests about the conformance of anonymous/unnamed fields within structs/unions, and it's true that GCC and Clang support that with extensions when -std=c99 is specified. Although with the -Wpedantic flag they will throw a warning about it. MSVC doesn't completely support C99, and afaik currently there is no way to specify any C standard version to the compiler, it throw the warning

[2019-03-22 03:15] acoto87 commented on #58
I did some other tests about the vector extensions of GCC and Clang: https://godbolt.org/z/Q2W82V

I think it could work with some macros, but one throwback is that the size of the vectors in GCC must be power of two, so it will complaint for something like

[code]

Thoughts?

[2019-03-22 06:33] recp commented on #58
Thanks for these tests

It gives warning but still working, so better than nothing. Consider a struct like this:

[code]

users can disable anonymous structs by defining `CGLM_NO_ANONYMOUS_STRUCT` macro (just want to type safety)

With struct api (wrapper) user can also pass struct to array api to pass struct as reference:

[code]

this seems good design to me and should be implemented asap.

---

[2019-03-25 15:17] acoto87 commented on #58
Sounds good, I think it could be good to have those structs types and I agree that separate wrappers will make things more clear.

So, will you implement those wrappers with the proposal of `types-struct.h`, can I do it, make a proper PR and iterate on it until we get a good solution? 😃

[2019-03-26 05:57] recp commented on #58
Hi @acoto87

sure. I'll wait a proper PR ;)

[2019-03-28 01:49] acoto87 opened #78 "Compiling on the Raspberry PI"
Hi there,

I was trying to compile cglm on my Raspberry PI, and after installing _autotools_ and _libtool_ I proceed to make.

When I make the project it throw at first the following error:

[code]

I failed to find where do the compiler was trying to grab the header file with that definition (`size_t` is defined in multiple standard headers) and since I see that _common.h_ is only including:

[co

[2019-03-28 07:58] recp commented on #78
Since we did not include headers which include `stddef.h`, we should include `stddef.h` directly in `common.h`. You are welcome to create a PR for this, otherwise I can add it later.

I do not get any warnings. I saw `-Wmaybe-uninitialized` flag in your compiler warnings, I'll test build after add `-Wmaybe-uninitialized` flag asap.

[2019-03-28 15:18] acoto87 commented on #78
Sure, I can make a PR for this. But I'm wondering, from which header are you getting the `size_t` definition?

[2019-03-28 20:30] recp commented on #78
`stddef.h` should comes from a header, on the other hand `cglm/io.h` includes both `#include <stdio.h>` and  `#include <stdlib.h>` headers and both these headers include `stddef.h` header, maybe it comes from these headers. But the weird thing is that I removed **io.h** and it compiled successfully. Maybe it comes from SIMD headers. Or compiler may included `stddef.h` implicitly I'm not sure yet.

[2019-04-04 05:27] moon-chilled opened #81 "Why are matrices 2-d arrays instead of 1-d?"
Hi, this is not an issue so much as just a question I have.  Why are matrices represented as an array[m][n] instead of a flat array[m*n]?  It seems like doing it the second way would be better for performance since it takes up less memory and doesn't require as many dereferences to access, and you can still trivially get individual vectors out of flat-array-represented matrices.

[2019-04-04 06:25] recp commented on #81
Hi @Elronnd

Thank you for your feedbacks/contributions

Representing matrices as [m][n] makes things easier to manage; you can access column vectors as matrix[0], matrix[1], matrix[2] and matrix[3].

**this is not true**. Why do you think it would give better performance?

matrices are two dimensional arrays but still continuous arrays (check type definitions: https://github.com/recp/cglm/blob/ma

[2019-04-04 15:31] Elronnd commented on #81
I thought -- for instance, `mat3` is `vec3[3]` which is `float[3][3]`.  Which is like `float**`, so if I want to get a `mat[1][2]`, that's like `(*(mat+1))[2]` which is `*(*(mat + 1) + 2)`, which is two dereferences, as opposed to `*(mat + 1*3 + 2)` which does include an extra mul, but only one dereference.

[2019-04-04 17:21] recp commented on #81
Thank you very much for explanation,

[code]

Output (https://godbolt.org/z/YXn4Ms):

[code]

I got same result if m and n are known at compile time. But got different result if they unkown at compile time (which makes your right)

On the other hand I got same result for get2 and get3

So maybe instead of changing all design, we could provide a macro (or inline function) like, to access matrix ele

[2019-04-04 17:49] Elronnd commented on #81
That sounds good.

Although, now that I think about it further, I'm not sure if it's such a good idea.  Disassembly is good but I should probably do an actual benchmark.  Also, I'm pretty sure that that relies on undefined behaviour--I don't think that multidimensional arrays are guaranteed to be laid out in memory like that.

[2019-04-04 18:17] recp commented on #81
That would be really perfect!

Okay you are right, let's ignore `GLM_MAT3_GET` then.

[2019-04-04 23:59] soulfoam commented on #58
I'll implement this right now as @recp has proposed, as I also think this is the best method for doing this.

Personally, I think the union/anonymous structs should be the **default** option for cglm. So vec3 is by default a union, and vec3a can be for the array type.

Here's a couple reasons why:

1. The type safety is of course one of the biggest reasons. We all know it's easy enough to make an

[2019-04-05 06:18] recp commented on #58
Hi @soulfoam

Thank you for your comments, it makes me happy to see **cglm**'s community/contributors is growing 🤗

Making union/anonymous structs the default would an option but first we must implement union/anonymous structs. In the future we may decide to make it default but I think we should keep arrays as default for now (or until struct api got its shape), I don't know; we should get more fe

[2019-04-14 18:12] haxpor opened #82 "error: undefined reference to 'vaddvq_f32'"
I try to build cglm on two abis which are `armeabi-v7a` and `arm64-v8a` onto android device that is `aarch64`. I faced the problem shown with the error same as the title of this issue. Thus only `armeabi-v7a` cannot be built, the another is fine.

After initial digging it, I found this [line](https://github.com/recp/cglm/blob/81a74ba2255dd4c60f19126aab9d78609e74a5c8/include/cglm/vec4.h#L703) defin

[2019-04-14 19:22] recp commented on #82
Hi @haxpor

A PR would be perfect 🤗 We could simply use `glmm_hadd` instead of using `vaddvq_f32` directly as you mentioned.

`glmm_` is SIMD namespace and it helps to group and OPTIMIZE common tasks by arch, provide native SIMD api...

[2019-04-14 19:58] recp commented on #82
Maybe we could use `glmm_dot`even `glmm_norm` like below:

[code]

`glmm_norm` uses optimized `glmm_hadd`.

Or we could simply use this:

[code]

because `glm_vec4_sub` and `glm_vec4_norm` is optimized and they are inline, it uses temp variable but compiler may generate same instructions. I tested both on godbolt, it seems compiler generates extra instructions for second one for ARM :( So first on

[2019-04-15 08:43] haxpor commented on #82
Ok! Thank you for detailed guideline! That's complete solution already but I can learn something.
I'll get back to this tonight, or at worst within a few days.

[2019-04-17 03:21] kaadmy opened #83 "Functions don't use const when possible"
Due to functions not taking arguments as `const` when possible (ie. when a variable is never written to), it's very tough to integrate CGLM with code that passes vector/matrix types as `const`. Since constant variables cannot be cast to non-const, this means any code that calls CGLM can't use constant variables.

Since it's possible to cast *to* `const`, but not from, would it be possible to mark

[2019-04-18 06:47] recp commented on #83
Hi @kaadmy

Do you use C++? Yes we could make readonly parameters `const` and `const` reference in C++ maybe to allow to pass initializer list as parameter

Something like this make that possible, I think:

`glm_mat4_mul(GLM_IN(mat4) a, GLM_IN(mat4) b, GLM_OUT(mat4) dest)`

it is more obvious which parameter is writable in this way

[code]

[2019-04-21 02:21] kaadmy commented on #83
I'm currently using C99.

Only parameters that aren't written to need to be `const` (in fact, it's an error to use `const` otherwise), which includes nearly all functions that have a `src` and `dest` parameter.

[2019-04-21 20:28] recp commented on #83
I want to use `const X& ` in C++ to allow something like this:

[code]

I think `GLM_IN`, `GLM_OUT`, `GLM_INOUT` macros will make **C** and **C++** happy

[2019-04-22 05:52] heapseeker commented on #83
@recp The issue isn't C++ or not C++. The issue is that read-only variables that aren't mutated are not marked as const, which they should be. I may make a PR and do this, as it makes my own code a bit sloppy because I can't use const.

Also I would recommend **against** caring about C++. Realisitically no one would use this library over GLM if you're using C++. GLM is just a more mature, stable l

[2019-04-22 06:11] recp commented on #83
Fair enough.

I think we need to do something like this instead of using `GLM_IN`, `GLM_OUT`, `GLM_INOUT`then:

[code]

to

[code]

Thank you, I may wait for you if you want to work on this?

[2019-04-27 07:11] recp commented on #82
Fixed in https://github.com/recp/cglm/pull/84

[2019-04-27 07:11] #82 closed

[2019-04-27 17:54] recp commented on #83
@heapseeker ping.

[2019-04-28 09:36] BrentFarris opened #85 "Can't build release v0.5.3"
Below is the output of make:
[code]

I resolved this issue by adding this into `include/cglm/mat4.h`:
[code]

However it still ends with another error I'm not so sure about:
[code]

[2019-04-28 16:18] recp commented on #85
Hi @BrentFarris

This is resolved with this PR: https://github.com/recp/cglm/pull/79 and **v0.5.4** will contain that commit and some other improvements.

**cmocka** only required if you want to run tests by running `make check`. You can see all build options at: https://cglm.readthedocs.io/en/latest/build.html

`./post-build.sh` contains a script like this:

[code]

if `build-deps.sh` is not run

[2019-04-28 18:55] recp commented on #83
Any feedbacks are welcome at https://github.com/recp/cglm/pull/86

[2019-04-28 19:38] BrentFarris commented on #85
Yeah, sorry. I just realized I was using spaces in the directory. I had to because I am working on something that came from Visual Studio land which doesn't care about the spaces for most things. I actually just changed it so that there isn't a space now because that broke other libraries like `curl` from building as well.

I'll pull down master and give it another go, thanks!

[2019-04-29 06:07] recp commented on #85
@BrentFarris glad to see you can build it successfully.

I have updated build script to allow spaces, so it should not be a problem anymore.

I think we can close this issue now. (Re-open if I'm wrong please!)

Feel free to come with other issues or contributions ;)

[2019-04-29 06:07] #85 closed

[2019-04-29 15:00] recp commented on #83
Now readonly parameters are marked as `const` at https://github.com/recp/cglm/pull/86

cc @kaadmy @heapseeker

[2019-04-29 15:22] recp commented on #83
After marked readonly params as `const`, I got these warnings at Ubuntu:

[code]

Helpful resources:

https://stackoverflow.com/questions/34488559/pointer-to-array-with-const-qualifier-in-c-c

Any feedbacks would be helpful

[2019-05-25 06:25] recp commented on #58
The type safety is implemented as structs at https://github.com/recp/cglm/pull/80 (thanks to @acoto87 )

if anyone else has better ideas feel free to create new issue to discuss...

[2019-05-25 06:25] #58 closed

[2019-08-17 04:57] superbigio opened #93 "name change for glm_euler_sq"
Hi,

This is a minor suggestion. I find glm_euler_sq a little misleading as a name since the accepted convention in c (and other languages) is for "sq" as an abbreviation to usually mean square or squared (e.g. sqrt()). Why don't you change the name to glm_euler_seq? It is only a character longer but it conveys the meaning much more clearly. Alternatively, since I suspect this enum won't be used v

[2019-08-17 06:13] recp commented on #93
Hi @superbigio

Thanks for your proposal!

Because I like short names :)

Yes `glm_euler_seq` seems better one. Would you like to create a Pull Request? Or I can add it to my TODOs.

We should maintain thee old type for a while, to do that we could use something like this:

[code]

In this way the change will be compatible with previous versions...

FWIW, there is also another issue about Euler an

[2019-08-20 09:49] superbigio commented on #93
Hi Recep,
sorry for my late reply...Yes, I'll create a Pull request right away.
There are also some features I would like to add and issues I would like to resolve.Yes, the issue about Euler angles is one of them.
I will open issues on Github as I move forward so we can discuss everyone of them.
Best
- Luigi
    On Saturday, August 17, 2019, 8:13:23 AM GMT+2, Recep Aslantas <notifications@github.c

[2019-08-22 07:20] recp commented on #93
This is fixed at https://github.com/recp/cglm/pull/94

[2019-08-22 07:20] #93 closed

[2019-08-22 10:22] superbigio opened #95 "squared distance"
Hi,
I am ready with a PR for a glm_vec4_distance_squared() function with support for SIMD, call and struct. I propose renaming the function distance_squared as opposed to distance2 like it currently is. Obviously I have #defines that allow calls to distance2 to be compiled successfully, but I think the distance2() name should be deprecated in favor of distance_squared(). If it is ok for you, I wil

[2019-08-22 11:28] recp commented on #95
Hi @superbigio

`glm_vec4_distance_squared()` is too long. I would prefer to use shorter name like `glm_vec4_distance_sq()` or even `glm_vec4_dist_sq()`

But `_distance2` or `_norm2` is more like `pow(distance, 2)` or `distance ^ 2`, so I would prefer to keep existing name for now (`glm_vec3_distance2()`, `glm_vec4_distance2()`). It could be `glm_vec4_dist()` and `glm_vec4_dist2()` of course.

[2019-08-22 11:48] superbigio commented on #95
ok, I'll keep the same naming convention then. (distance2, norm2, pow2, etc...)
I'll change it back in my fork and then I will be ready with a PR.

[2019-08-22 12:24] recp commented on #66
Please follow this PR: https://github.com/recp/cglm/pull/97

[2019-08-23 07:33] recp commented on #95
https://github.com/recp/cglm/pull/96

[2019-08-23 07:33] #95 closed

[2019-08-24 09:31] superbigio opened #99 "glm_vec_broadcast() ---> glm_vec_fill()"
I think all versions of glm_vec_broadcast() should be renamed to glm_vec_fill() which is shorter and more self-explanatory. If you agree I will create a PR.

[2019-08-24 13:55] recp commented on #99
Hi @superbigio

Of course a PR about this is welcome ;)

`_fill()` is good name. But let's not touch `broadcast` for now, it may be marked as deprecated later.

Unlike **broadcast**, please make vector as first parameter like:

[code]

then we can call it like:

[code]

I think first parameter is better place for vector.

[2019-08-26 06:20] #99 closed

[2019-08-26 06:39] #66 closed

[2019-08-26 08:14] superbigio opened #101 "The argument order of glmm_store3() and glmm_store() is not consistent."
glm_store3() arguments are swapped compared to glm_store().
Luckily glm_store3() doesn't seem to be used anywhere in the codebase.
Making it consistent with glm_store() would be trivial and it would not break anything.

I propose changing the argument order of glm_store3() so that the float pointer/array (destination) comes 1st and the 128-bit SSE vector argument (source) comes 2nd.

Notice that b

[2019-08-26 12:30] recp commented on #101
I you would like to update it, a PR is welcome, otherwise I can update it asap.

[2019-08-26 13:06] superbigio commented on #101
No problem, I will create a PR right away.

[2019-08-26 13:37] #101 closed

[2019-08-31 21:21] recp opened #104 "Tests"
Currently **cglm** uses **cmocka** for tests, recently I thought that maybe we can use `assert()` and make our own test runner. Because the only build dependency is **cmocka** which is for tests, writing our own runner will make **cglm** zero-dependency library

-----
After we made tests more stable then all Pull Requests or features must come with test cases (if the changes are related to coding)

[2019-09-01 07:04] superbigio commented on #104
Yes, I agree. I would definitely get rid of the cmocka dependency. Functions in this API are pretty easy to test. We could write our own test suite.

[2019-09-11 18:48] recp commented on #104
I have created a PR to drop cmocka and implement custom unit test suite

https://github.com/recp/cglm/pull/105

Any feedbacks are welcome, I'm considering to merge it asap.

[2019-09-12 03:58] recp commented on #104
This is implemented at https://github.com/recp/cglm/pull/105

Now let's write tests for every cases for every CPU arch and make **cglm** more robust.

[2019-09-12 03:58] #104 closed

[2019-11-15 21:09] pm4gh opened #108 "make install fails due to duplicate line in Makefile.am"
On Ubuntu 19.10, make install fails at this point :

 /usr/bin/install -c -m 644 include/cglm/version.h include/cglm/common.h include/cglm/types.h include/cglm/types-struct.h include/cglm/cglm.h include/cglm/call.h include/cglm/struct.h include/cglm/cam.h include/cglm/io.h include/cglm/mat4.h include/cglm/mat3.h include/cglm/affine.h include/cglm/vec3.h include/cglm/vec3-ext.h include/cglm/vec4.h

[2019-11-16 06:14] recp commented on #108
Hi @pm4gh

Thanks for reporting this, would you mind to fix that with a PR ? Otherwise I'll fix it asap ;)

[2019-11-16 20:30] pm4gh commented on #108
Put the fix in yourself, please.

I'm not very familiar with git and totally new to github. Looked into what a PR is, seems an elegant way to offer changes, but isn't it a little over the top for reporting a trivial issue like this ? Or is this just how things are done on github ?

[2019-11-17 07:22] #108 closed

[2019-11-17 07:23] recp commented on #108
Duplicate entry is removed in https://github.com/recp/cglm/commit/9987e1374b93dcad4e8e61b83a5286accb12d1dc

[2019-11-24 02:55] hartenfels commented on #83
In my experience, `const` is a nice idea, but in the end they cause many errors like the one you ran into, where types aren't compatible for pernicious reasons. Especially when you start dealing with arrays, pointers to pointers etc., you start fighting against the compiler a lot.

However, since there's now a struct API that doesn't take pointers directly, doesn't that kinda make this requirement

[2020-01-14 09:48] kinnefix opened #114 "Build error on Android"
I am trying to use this library for my project.
On running make, I get the following errors:
[output.log](https://github.com/recp/cglm/files/4058435/output.log)

[2020-01-14 10:11] kinnefix commented on #114
And of course, the build succeeds if I make a modification to file include/cglm/simd/intrin.h to disable definition of CGLM_NEON_FP.

[2020-01-14 21:09] recp commented on #114
Hello @kinnefix

Thanks for reporting this issue

It seems there are type casting errors (`float32x4_t` to `float32x2_t`) this can be fix by creating temp variables for them instead of assigning them to float34x4_t...

I will fix it asap but if you want to fix it before me a PR is welcome ;)

[2020-01-15 06:58] recp commented on #114
@kinnefix can you try to build using the PR: https://github.com/recp/cglm/pull/115

[2020-01-15 08:58] #114 closed

[2020-01-22 12:57] moiri opened #116 "A Function Returning the Current Version"
It would be nice if a function could be provided which returns the current version number of the library.

[2020-01-23 06:37] recp commented on #116
Hi @moiri

We have version (https://github.com/recp/cglm/blob/master/include/cglm/version.h) header which provides current version numbers.

Similar header can be found at **libuv** library:
https://github.com/libuv/libuv/blob/33cb9f4a3ff6aa44296690a87af5b781946de13f/include/uv/version.h

And function implementation (probably this is what you want):
https://github.com/libuv/libuv/blob/e4087dedf837

[2020-02-14 11:20] overslayer commented on #32
It's been 2 years recp

[2020-02-14 13:17] cheako commented on #32
...and now I'm working in Rust and finding it eclipses C.

[2020-02-14 21:27] recp commented on #32
@overslayer @cheako sorry for the late response and unfinished work. I didn't have enough free time. Also this is marked as "help needed" ;)

I was working other projects and will back to this one after finished them, asap.

[2020-02-16 05:30] ForeverZer0 opened #117 "CMake Build Process?"
Was curious if there were any plans to add a CMake build system for this project?

I am admittedly not familiar enough with the Autotools build system, otherwise I would happily adapt it myself and and submit a pull request. Either way, thank you very much for creating and sharing.

[2020-02-16 18:37] recp commented on #117
Hi @ForeverZer0 ,

I think we can support CMake build system. Any PR that implements CMake is welcome, otherwise I will implement that in my free time (I don't have enough it these days :( )

Also you don't have to build **cglm**, cglm provides both inline and library call optionally. All `glm_ ` functions are inline and all `glmc_` are library called function. `glmc_` functions are just wrappers

[2020-02-19 22:05] PortStone opened #118 "cglm rotate differs from glm rotate"
GLM:
[code]
CGLM:
[code]

Output of GLM:
`mat4x4((-0.000000, 1.000000, 0.000000, 0.000000), (-1.000000, -0.000000, 0.000000, 0.000000), (0.000000, 0.000000, 1.000000, 0.000000), (0.000000, 0.000000, 0.000000, 1.000000))`
Output of CGLM:
[code]

As you can see (1,2) and (2,1) are different. Did I used it wrong?

[2020-02-20 07:59] recp commented on #118
Hello @PortStone

**glm** may printed matrix as columns. In your example the result seems same if this is correct. For instance, in your example in glm the first column is `(-0.000000, 1.000000, 0.000000, 0.000000)`, in cglm that is `-0.0000, 1.0000, 0.0000, 0.0000`, see

If `(-0.000000, 1.000000, 0.000000, 0.000000)` is row then the result would be different :S

----

**cglm** stores matrices as

[2020-02-20 17:34] PortStone commented on #118
Hello @recp
thank you for the fast response. I didn't knew that and now it works. Thanks for creating the library, too.

This may help for fixing alignment:

![2020-02-20-18-30-12](https://user-images.githubusercontent.com/27790087/74962086-802e9300-540f-11ea-9510-126ec8f3d18c.gif)

[2020-02-20 17:34] #118 closed

[2020-02-21 20:16] Daniel-Schreiber-Mendes opened #119 "Strange behaviour after calling glm_vec3_zero()"
Hello; first I wanted to thank you for this great library. But about my problem: I have a Transform-Component that I can attach to entitys and change their scale, position and rotation.
[code]
I can manipulate the values and everything works just fine. But when I call
` glm_vec3_zero(transformInstance->position);` at first everything seems to work. When I end the program tough and free all my memo

[2020-02-21 20:45] #119 closed

[2020-02-21 21:43] recp commented on #119
Hi @Daniel-Schreiber-Mendes

Thanks

Did you solve your problem may I ask? cglm doesn't alloc any memory on the heap. For troubleshooting:

https://cglm.readthedocs.io/en/latest/troubleshooting.html
https://cglm.readthedocs.io/en/latest/getting_started.html

best,
r.

[2020-02-29 18:04] recp commented on #67
Now we have **vec2** and **vec3** name space, thanks for all feedbacks which are always welcome!

[2020-02-29 18:04] #67 closed

[2020-03-01 19:58] noah1786 opened #120 "mat2 header not copied when installing"
I don't know much about autogen tools, but the makefile has this as cglm_simd_sse2_HEADERS:
[code]
even though, in include/cglm/simd/sse2, there is mat2.h .

When I try to compile a source file including cglm, this results in the error
[code]
Fixed by adding it to the makefile manually.
running `Linux 4.19.0-8-amd64 #1 SMP Debian 4.19.98-1 (2020-01-26) x86_64 GNU/Linux`

[2020-03-02 07:10] recp commented on #120
Hi @noah1786

Thanks for reporting this. This must be fixed with https://github.com/recp/cglm/commit/69b5584f112c73af211da7b6d0918b87dd8e090b

[2020-03-02 07:13] recp commented on #120
Also check this release [v0.7.1](https://github.com/recp/cglm/releases/tag/v0.7.1), can you try to build and install again please

[2020-03-03 06:06] #120 closed

[2020-03-03 13:02] noah1786 commented on #120
Sorry to take so long to get back to you. I didn't have any problems re-building it on the same machine or building it on a different machine.

[2020-03-04 09:04] recp commented on #120
@noah1786 thanks

[2020-03-05 21:19] pm4gh opened #123 "Superfluous declaration of glm_mat4_mul() in affine.h"
There is a declaration of glm_mat4_mul() around line 45 of include/cglm/affine.h that doesn't seem useful since the function's definition is included a few lines earlier via mat4.h, and causes the warning below if compiled with gcc's -Wredundant-decls flag.

`In file included from DrawOGL.c:27:`
`../cglm/affine.h:45:1: warning: redundant redeclaration of 'glm_mat4_mul' [-Wredundant-decls]`
`   45

[2020-03-06 07:37] recp commented on #123
Hi @pm4gh

Would you like to remove these redundant forward declarations in `affine.h` and in other headers? Otherwise I'll fix that asap.

Thanks.

[2020-03-06 18:03] Akaricchi commented on #81
You're both very confused about how arrays in C work.

A two-dimensional array **is not** the same as an array of pointers! The reason why you seemingly get a pointer from dereferencing a 2D array once is because you *actually* get an array, but in C arrays decays into pointers to their first element in most context. Here's an attempt at an explanation: https://godbolt.org/z/W_R-b9

They **are** g

[2020-03-06 20:28] recp commented on #81
@Akaricchi thanks for your comments, I'll check godbolt results later.

One thing here; in **cglm** `mat4` looks like below:

[code]

since `vec4` is aligned and it is base element of mat4, I'm not sure it is contiguous 100% percent. This makes me confused a bit. There was alignment on `vec3` and `mat3` types but we removed the alignment for them (probably because of this).

If 2d array is not con

[2020-03-06 20:34] recp commented on #123
This is fixed by https://github.com/recp/cglm/commit/7eada03909017982174460a5ec714f9c74207f35

best,
r.

[2020-03-06 20:34] #123 closed

[2020-03-06 20:50] recp opened #124 "Proposal: optimized functions to multiply 3 matrices at once without using _mulN"
It is common to multiply **Model**, **View** and **Project** matrices together, there may be additional matrices to multiply...

We have two option to multiply 3 matrices:

1. Using `glm_mat4_mulN()` which is nice helper but it uses loop.
2. Using two `glm_mat4_mul()` call which is general.

Proposal:
---------

New functions to multiply 3 matrices.

- `glm_mat4_mul3x(m1, m2, m3, dest)`, `glm_mat4

[2020-03-06 21:30] Akaricchi commented on #81
Alignment can only introduce padding when the size isn't an integer multiple of the alignment. `sizeof(float[4])` is 16, which is, of course, an integer multiple of 16. So there's no issue here.

`vec3`/`mat3` is a curious case, as an alignment of 16 would exceed the array's size. First of all GCC wouldn't even let such code compile:

[code]

Clang does compile it, but does not actually add any pa

[2020-03-06 21:48] recp commented on #81
Awesome 🎉

Currently we don't.

[simd/sse2/mat3.h](https://github.com/recp/cglm/blob/master/include/cglm/simd/sse2/mat3.h) is already used SIMD with `_mm_loadu_ps` which is for unaligned location.

IIRC, I was used alignment for `glmm_load3()`, `glmm_store3()` to load vec3 fast enough to SIMD register. There was an another option to load without alignment if I remember correctly... My goal is to t

[2020-03-18 20:56] moiri commented on #116
First-up, thank you for your answer and sorry for my (very) late reply.

The header definitions are perfectly fine for me. I think it might make sense to add a note on this in the API. Maybe under [utlis/helpers](https://cglm.readthedocs.io/en/latest/util.html)?

[2020-03-19 10:03] recp commented on #116
That is a good idea to add version to documentation 👍

By starting now documentation about versioning should be able to seen at https://cglm.readthedocs.io/en/latest/version.html

Maybe version.h must be included in `cglm/cglm.h` like others.

[2020-03-20 04:11] #116 closed

[2020-03-26 13:02] Uwila opened #129 "Möller–Trumbore intersection algorithm"
Perhaps the [Möller–Trumbore intersection algorithm](https://en.wikipedia.org/wiki/M%C3%B6ller%E2%80%93Trumbore_intersection_algorithm) would make a good addition to this library? I would be willing to try and implement it; I already made a version of it for a personal project that just uses C and cglm, so it wouldn't be too hard.

I'm not sure if you want a contribution like this though, and I al

[2020-03-27 03:38] FMMazur commented on #117
Creating...

[2020-03-27 07:11] recp commented on #117
Perfect! I'm waiting the PR 🤗

[2020-03-27 08:41] recp commented on #129
@Uwila perfect! It would be nice if there is no license penalty.

It seems **glm** also implemented Ray Triangle Intersect [glm/gtx/intersect.inl](https://github.com/g-truc/glm/blob/ea678faff9340ae4a79f50f2edd947141405e128/glm/gtx/intersect.inl) It may used same algorithm or code snippets

[2020-03-27 15:39] recp commented on #117
@ForeverZer0 this is implemented at https://github.com/recp/cglm/pull/130 thanks to @FMMazur

[2020-03-27 15:39] #117 closed

[2020-03-30 21:53] Uwila commented on #129
@recp I've started implementing it, but am running into an issue. I think the inline version works now, but when trying to use the pre-compiled version I get `main.c:(.text+0x25f0): undefined reference to `glmc_line_triangle_intersect'` in my test project.

I'm new to building libraries in C so I'm thinking you might see something obvious that I'm missing. You can look at what I have so far [here]

[2020-03-31 15:47] recp commented on #129
Hello @Uwila

Thanks for starting work on this 🤗

---

Did you link **cglm** to your test project? Which platform do you test on? For instance in **clang**, **gcc** family you add `-lcglm` flag to specify that you are linking/adding a library to your project.`-l`(L) means library, and `-I` (i) means include.

For windows must must see Linker options in Visual Studio. Also it seems you did not add

[2020-04-01 11:03] Uwila commented on #129
I did, I tested it by using another `glmc` function which works fine. I'm thinking there's probably something I'm forgetting that's required to compile it into the library. For example, in `Makefile.am` I've added `include/cglm/ray.h` to `cglm_HEADERS`, `include/cglm/call/ray.h` to `cglm_call_HEADERS`, and `src/ray.c` to `libcglm_la_SOURCES`. Also, I've added `#include "call/ray.h"` in `include/cg

[2020-04-01 17:32] recp commented on #129
I saw your commit it seems fine except mis placed indents. Maybe you should call `make clean && make`. Did you get error on compile time or runtime? If runtime then make sure that you have a copy of cglm library in correct folder. If you use MSVC then ray.c must be added to VS project file too.

I have downloaded your branch and it compiled successfully, also I called your new function from test t

[2020-04-02 12:26] Uwila commented on #129
I found out what the problem was: I had previously installed cglm using my package manager, and while working on it I used `make install`, which installed into a different directory; so I was indeed linking succesfully, just to the old version.

I think I have everything working now, including documentation. I don't have a Windows setup for programming at all so the changes to the `win/` directory

[2020-04-03 21:33] #129 closed

[2020-04-04 13:43] podsvirov commented on #47
Hello @recp, since https://github.com/msys2/MINGW-packages/pull/6336 merged, the [cglm](https://packages.msys2.org/base/mingw-w64-cglm) package available to installing via [MSYS2](https://www.msys2.org/) software distro on Windows by `pacman` package manager.
Hope my efforts help to others easy get and use your library.

[2020-04-04 14:49] recp commented on #47
Hello @podsvirov,

Thank you very much for your efforts and porting **cglm** to MSYS2 🤗 🎉

I saw a sphinx warning on that PR, I hope, I or someone else will fix that asap. Feel free to ask anything or contribute by creating an issue/PR...

best,
r.

[2020-04-07 19:38] Uwila opened #133 "Contributors in README link to a nonexistant page"
When clicking on any on the contributors' profile images in the README I get sent to [https://github.com/recp/cglm/blob/master/graphs/contributors](https://github.com/recp/cglm/blob/master/graphs/contributors) which 404s. I suppose what you want to send people to is actually [https://github.com/recp/cglm/graphs/contributors](https://github.com/recp/cglm/graphs/contributors).

[2020-04-07 19:47] #133 closed

[2020-04-08 20:38] ompadu commented on #32
What would it take for an uninitiated to implement this feature?

[2020-04-09 17:54] recp commented on #32
@ompadu thanks for interesting to implement this feature. C++ glm already did this, so we can check their implementation.

I think we must provide new functions for

* camera functions (or only for projections)
* plane extractions
* and else maybe

[2020-04-09 18:10] ompadu commented on #32
Cool, I'll look over their implementation and see if I can come out with an explicit task list for starters.

[2020-04-09 18:32] recp commented on #32
@ompadu perfect 🤗 feel free to ask, discuss or contribute anything...

[2020-04-10 06:56] ompadu commented on #32
Thank you, I'll dedicate a few hours this weekend to this task to get my bearings.

[2020-04-11 18:57] Uwila commented on #124
I would suggest pvm, for `Proj * View * Model`; as you would usually translate a vertex by going `Proj * View * Model * vertex`, if I'm not mistaken. I guess the full name would best be `glm_mat4_pvm` or `glm_pvm`; I don't think `mul` really adds anything (is there any other kind of functionality involving these three that you would expect there to be?)

[2020-04-11 20:11] acoto87 commented on #124
I like the `glm_mat4_mul3x` and `glm_mat4_mul4x` variants, as you could use these functions for other stuff other than multiplying `Model * View * Proj`.

[2020-04-13 18:41] recp commented on #124
@Uwila , @acoto87 thanks for review this proposal!

`glm_pvm(projection, view, model, dest)` or `glm_mvp(model, view, projection, dest)` are the name candidates, not `glm_mat4_pvm`...

the multiplication order will same: ### Projection * View * Model for both `glm_pvm()` and `glm_mvp()`.

single call will make things more readable and faster because, I want to optimize triple matrix multiplication

[2020-04-13 20:03] Uwila commented on #124
I meant in the context of `_pvm`; you listed `glm_mvp(m, v, p)`, `glm_pvm(p, v, m)`, `glm_mul_mvp(m, v, p)` and `glm_mul_pvm(p, v, m)` as candidates; not that it matters much but I meant to say that `mul` doesn't really add anything in this case.

[2020-04-13 20:30] acoto87 commented on #124
I kind of agree with @Uwila but with the names `glm_mvp` or `glm_pvm` it's lost in the name of the function what does the function do. It's general knowledge that what you do with those matrices are multiplying to together to get the final transformation matrix. If that is the case, those names are fine, if it could be cause of confusion I would prefer the explicit `glm_mul_mvp` and `glm_mul_pvm`.

[2020-04-24 15:25] gduenden opened #137 "Standard behavior for functions"
[Docs about dest param :](https://cglm.readthedocs.io/en/latest/getting_started.html#function-design)
"You can pass all parameter same (this is similar to m1 *= m1), you can pass dest as m1 or m2 (this is similar to m1 *= m2)" (c)

But some functions behave differently. For example:
[code]

Maybe replace the implementation of some functions under the standard. For example;
[code]
to:
[code]

[2020-04-26 09:31] recp commented on #137
Hi @gduenden ,

Thanks for you feedbacks, sorry for the late response 😔

**This seems to be good idea**, however not all functions must behave like this. For instance `glm_vec3_ortho(v, dest)`, it finds a[n] *orthogonal/perpendicular* for given vector. So it would be weird to allow to store destination vector in source vector, right?

If you like to change the behavior of `glm_vec3_cross()` or sim

[2020-04-30 20:55] recp commented on #118
@PortStone alignment has been fixed and print functions are improved ;) check this PR: https://github.com/recp/cglm/pull/140

[2020-05-04 09:30] Daniel-Schreiber-Mendes opened #141 "Let functions that dont modify parameters take them as const"

[2020-05-04 09:31] #141 closed

[2020-05-04 09:32] Daniel-Schreiber-Mendes commented on #15
Let functions that don't modify their parameters take them as const paramerers

[2020-05-11 14:49] PeterOGB opened #142 "Errors compiling with gcc 10.1 on Raspberry Pi"
I just updated gcc on my Pi4 and now cglm won't  build.  I've not looked into this yet, but here's a sample error message:

[code]

[2020-05-11 16:19] recp commented on #142
Hi @PeterOGB

Thanks for reporting this.

Are you using the latest version? Because the 37. line seems different in master [simd/arm.h#L37](https://github.com/recp/cglm/blob/master/include/cglm/simd/arm.h#L37)

IIRC, we have fixed this error.

Can you validate that you are using latest version pls?

[2020-05-11 16:43] PeterOGB commented on #142
I wasn't using latest.... so I've just cloned master and tried again...
[code]

[2020-05-11 17:20] recp commented on #142
@PeterOGB thank you very much.

[code]
Can you try again please?

It seems ARM NEON provides a single intrinsic to negate vector: **vnegq_f32**

[2020-05-11 17:43] PeterOGB commented on #142
Yes, re-cloned master and builds ok now (unlike some of my own code !)
Thanks.

[2020-05-11 18:04] recp commented on #142
@PeterOGB great! Please let me know when all build is finished so we can close this issue.

Also feel free to come by any other issues later.

[2020-05-11 18:07] PeterOGB commented on #142
My code is working again now, so I think this can be closed.  Thanks for the quick response.
PeterO

[2020-05-11 18:08] #142 closed

[2020-05-26 09:26] Daniel-Schreiber-Mendes commented on #83
What is the current state of this? I cloned the latest version but still all the functions don't take const parameters. Did you decide not to implement this? Or whats the reason for this?

[2020-05-26 14:14] PeterOGB opened #144 "Test failures on Raspberry Pi"
Fresh clone from the repo, up to date Pi4:

make check

 assert fail in test/src/test_affine.h on line 536 :  ASSERT((glm_uniscaled)(m1))
  𐄂 glm_uniscaled
  assert fail in test/src/test_affine.h on line 536 :  ASSERT((glmc_uniscaled)(m1))
  𐄂 glmc_uniscaled
  assert fail in test/src/test_vec3.h on line 875 :  ASSERT(test_eq(v1[0], 0.0f))
  𐄂 glm_vec3_rotate_m4
  assert fail in test/src/test_vec3.

[2020-05-26 18:48] recp commented on #83
@Daniel-Schreiber-Mendes  not exactly, just I couldn't make it in a proper way. As @hartenfels said, since struct api takes parameters as read-only, the struct api's parameters can be marked as `const`

However, when you mark array api's params as const like `const mat4 m1, const mat4 m2` then you will get these warnings/errors as I mentioned above:

[code]

Helpful resources:

https://stackoverfl

[2020-05-26 18:53] recp commented on #144
Hi @PeterOGB

Thanks for reporting the test results. I'll investigate this asap.

May I ask what is your CPU model? I mean **cglm** uses SIMD (SSE2, AVX, ARM NEON) so it would be helpful to know if your CPU uses one of SIMD arch e.g neon, sse2, avx...

[2020-05-26 19:01] hartenfels commented on #83
For the above reason, I'd vote for closing this issue. You can't change the array parameters without causing trouble. Which means it'd break everyone that's currently using this API with non-const arrays and require terrible casts to make it work (or, more likely, cause people to stop using this library because it broke their code).

The struct API solves the issue of non-constness by taking every

[2020-05-26 19:14] PeterOGB commented on #144
On Tue, 2020-05-26 at 11:53 -0700, Recep Aslantas wrote:

Pi4 has a Quad core Cortex-A72 which has neon support.

PeterO

[2020-05-26 19:18] recp commented on #144
@PeterOGB thanks for quick response, I'll take a look at

[2020-05-26 20:10] recp commented on #144
@PeterOGB

I think I may solved a few issues with these commits:

https://github.com/recp/cglm/commit/a1485a14f6bb1dbd40cf52a472ca923db83c722e : option to override FLT_EPSILON with GLM_FLT_EPSILON
https://github.com/recp/cglm/commit/d2e5a3cd5b83c1abc6f4f800c3851c7d44109900 : use epsilon to compare `vec2/vec3/vec4_eq_all`
https://github.com/recp/cglm/commit/f49e8f99914e9739fef1daf47f58748cb749877d

[2020-05-26 20:17] recp commented on #144
@PeterOGB

I think I may solved a few issues with these commits:

https://github.com/recp/cglm/commit/a1485a14f6bb1dbd40cf52a472ca923db83c722e : option to override FLT_EPSILON with GLM_FLT_EPSILON
https://github.com/recp/cglm/commit/d2e5a3cd5b83c1abc6f4f800c3851c7d44109900 : use epsilon to compare `vec2/vec3/vec4_eq_all`
https://github.com/recp/cglm/commit/f49e8f99914e9739fef1daf47f58748cb749877d

[2020-05-26 20:46] PeterOGB commented on #144
:-) All the tests now pass :-)
Thanks for quick resolution.
PeterO

[2020-05-26 20:58] recp commented on #144
Perfect 🤗

Currently test coverage is not 100% but I'll try to make it 100% for all arch over time.

**Feel free to come any other issues, feedbacks, contributions...**

I think we can close this now ;) Hope everything will be fine on NEON, also additional optimizations  for NEON will be available e.g. matrix inverse and more... in the future

[2020-05-26 21:09] PeterOGB commented on #144
Closed :-)

[2020-05-26 21:09] #144 closed

[2020-05-26 22:51] recp commented on #83
I’ll re-investigate this later, maybe we can find a good or cool way to make **IN** params **CONST** without breaking the existing api, for instance **mat4_const** or `vec4  * const m1 ` could be used. But I think it is more readable to use param type as `mat4` or `mat4_const` (similar for other types)

@Daniel-Schreiber-Mendes how do you define const types ? Like `const mat4` or like `vec4 * cons

[2020-05-29 09:26] PeterOGB commented on #144
Just an "FYI", I've built cglm without problems on the new 64bit Raspberry Pi OS.

[2020-06-23 11:34] recp opened #145 "Focus on ARM and ARM NEON optimizations"
Since macOS is switching to Apple Silicon, it is time to do more optimizations on ARM side. FWIW, **cglm** already applies optimizations to almost all **vec4** operations and some **mat4** operations.

[2020-07-12 07:12] PeterOGB opened #147 "Documentation for glm_mat4_mulv3"
Documentation is missing the "last" parameter...

In the code it is defined as :
void glm_mat4_mulv3(mat4 m, vec3 v, float last, vec3 dest)

But the documentation  says:
void glm_mat4_mulv3(mat4 m, vec3 v, vec3 dest)

[2020-07-12 19:12] recp commented on #147
@PeterOGB thanks for letting us know. Would you like to fix that with a PR? If not, I'll do that asap.

best,
r.

[2020-07-12 20:22] recp commented on #147
I have updated the docs to fix this issue (see https://github.com/recp/cglm/commit/62ab6c56c05fdd0c2545c1f783ad2bd180dbb196), feels free to come with any other issues...

Thanks

[2020-07-12 20:22] #147 closed

[2020-07-20 14:00] RadiatedMonkey opened #148 "Incompatible MSVC command line options"
cl : command line error D8016: '/Ox' and '/RTC1' command-line options are incompatible [...\lib\cglm\cglm.vcxproj]

I'm using MSVC 19.26.28806, and compiling for x64

[2020-07-20 17:43] recp commented on #148
Hi @RadiatedMonkey

Thank you for letting us know,

I tried to remove `/RTC` flag with this commit: https://github.com/recp/cglm/commit/a9ed8470b438c9bcefcbfaa703a9e3f48fddc3e6

Can you try again by pulling master please?

---

Resources:
[0] https://stackoverflow.com/questions/23179136/visual-studio-command-line-error-d8016-ox-and-rtc-command-line-options-a
[1] https://docs.microsoft.com/en-us/cp

[2020-07-22 23:02] RadiatedMonkey commented on #148
Sorry for my late response, but it's still not working

[2020-07-23 16:15] recp commented on #148
Are you using CMake to build or using pre-exist cglm.vcproj inside **win/** folder?

With this commit (https://github.com/recp/cglm/commit/c18fe8098f910f1d3a74e4464091c83fbcba7a21) I tried to remove /RTC1

I have found solution (I guess) at https://skia.googlesource.com/third_party/sdl/+/refs/heads/master/CMakeLists.txt#225

Can you try again please?

Thanks

[2020-07-24 21:00] RadiatedMonkey commented on #148
Looks like it's working now, thanks!

[2020-07-24 21:00] #148 closed

[2020-07-24 21:20] recp commented on #148
@RadiatedMonkey great! Thanks for helping to fix this issue 🎉

[2020-07-26 13:22] saxondigital opened #149 "Is it possible to use CGLM on non-C99 Win32"
I would (very much) like to use CGLM with a non-C99 Win32 app [ANTz](../../../openantz/antz).

Commonly used (older) versions of MSVC do not support 'inline' C99 methods and most of my users tend to modify the code using such a dev environment (especially VS2012 or perhaps VS2013).

It appears to me that Win32 can work (#51) and that perhaps it is possible to remove 'inline' from the project to al

[2020-07-26 18:40] recp opened #150 "Apple SIMD, Swift and Metal API Support and Helpers"
**cglm** always tries to make things easier and faster. Currently I'm trying to switch from OpenGL to Metal and other graphics libraries by writing a GPU library (https://github.com/recp/gpu), it will be documented after first release...

**cglm** offers two APIs

1. Array API which makes parameters easier to pass it, also easy to load CPU register
2. Struct API which provides type safety and othe

[2020-07-26 18:57] recp commented on #149
Hello @saxondigital

Yes I also would like to see that **cglm** works on any platform and with any toolchains/compilers...

IIRC, I had got alignment issue for MSVC, to fix that alignment has been disabled for older MSVC or Visual Studios versions. So the issue seem to be fixed. But your issue seems different one.

Here how we defined inline (`cglm/common.h`):

[code]

as you can see we don't use

[2020-07-30 09:02] lmarz commented on #47
cglm is now in Debian and Ubuntu. It will be included in their next release. You can look at it on the [Debian Package Tracker](https://tracker.debian.org/pkg/cglm). I'm the Maintainer, so if you find a problem with the packaging, contact me (or write a [Debian Bug Report](https://www.debian.org/Bugs/Reporting)).

[2020-07-30 13:10] recp commented on #47
@lmarz Awesome 🎉 🤗🤗🤗 Thank you for becoming a maintainer for this library.

[2020-07-31 21:25] recp opened #152 "TODO: Make cglm work with Metal, Vulkan and DirectX"
**cglm** must support Metal and Vulkan (and maybe DirectX). To do this **cglm** may provide alternative functions for alternative NDC coordinates. Or we could do that with preprocessor macros. But providing extra functions will provide ability to switch between graphics APIs without rebuilding the code.

Resources:

1. https://developer.apple.com/metal/Metal-Shading-Language-Specification.pdf
2. h

[2020-08-04 03:33] randy408 opened #157 "Meson build support"
I have ported cglm to [Meson](https://mesonbuild.com/index.html), it's a single `meson.build` in the top-level directory and has similar defaults to the CMakefile, should I open a PR for it?

[2020-08-04 08:37] recp commented on #157
Sure.

Don't forget to add build instructions to README, docs/build.rst ...

Thanks

[2020-08-05 21:56] recp commented on #157
See https://github.com/recp/cglm/pull/158 ( thanks to @randy408 )

[2020-08-05 21:56] #157 closed

[2020-08-07 18:16] PeterOGB opened #159 "print functions not working in 0.7.7"
I just upgraded to 0.7.7 and all my debugging output using glm_vec4_print() has disappeared.

[2020-08-07 19:20] PeterOGB commented on #159
Seems to be an "undocumented feature" that you need "#define DEBUG 1"  before including the header file !
Also the colour change escape sequences get in the way when viewing a log file rather than viewing output directly in a terminal window!

[2020-08-07 19:20] #159 closed

[2020-08-07 22:18] recp commented on #159
Hi @PeterOGB

Sorry for that. **cglm** tried to disable these print outputs in release mode to optimize your softwares/engines in RELEASE mode (by making these functions NOOP macro). Because sometimes you print and forgot to drop it. You may use prints with your own #ifdefs... of course, that would work.

The option is documented at https://cglm.readthedocs.io/en/latest/opt.html#print-options , al

[2020-08-08 05:30] PeterOGB commented on #159
It would have helped me if the Inforrmation about the print  functions needing DEBUG enabled was included in the print functions documentation, which is where I looked! Currently it is a bit hidden (though not intentionally)  in the documentation for the options.

[2020-08-08 07:56] recp commented on #159
Most IDEs must define **DEBUG** or **_DEBUG** if debug configuration/mode is enabled. This is why **cglm** checks **DEBUG** or **_DEBUG**. In release/production mode, prints are disabled but if you define **CGLM_DEFINE_PRINTS** macro then print will always be enabled.

now defining these macro as empty must disable colors if you like:

[code]

I updated io documentation (online documentation + hea

[2020-09-14 13:45] warmwaffles commented on #152
I just ran into this issue over the weekend. I think providing secondary methods depending on the backend is a good idea. I am not a huge fan of how glm does it with a macro.

[2020-09-14 14:44] recp commented on #152
@warmwaffles thanks for your feedbacks, sounds good to me ;)

[2020-09-17 10:48] suyashmohan opened #161 "Support for ARM and UWP"
I am trying to add cglm to vcpkg  https://github.com/microsoft/vcpkg/pull/13510

Apparently, CI pipeline have tests for all platforms and cglm is failing for ARM Windows UWP platform.

[code]

Is there anything that needs to be added to CMake options or is it not supported by library?
arm64_windows and x64_uwp are okay. It's just arm_uwp that had issue

[2020-09-17 20:44] recp commented on #161
Hi @suyashmohan

Thanks for **vcpkg** support.

AFAIK, MSVC don't support to align function-parameters in older VC++ versions. So it is disabled in older Visual Studio versions:

[include/cglm/types.h:](https://github.com/recp/cglm/blob/master/include/cglm/types.h)

[code]

I didn't test this with CMake and ARM Windows, maybe we can/must disable alignment where we cannot support. Defining `CGLM_AL

[2020-09-19 05:39] suyashmohan commented on #161
I went through a lazy route. I disabled ARM port for now. Sorry 😅
I am new to vcpkg and cmake. I also don't have any resources, only option to debug is to make PRs to official repo to trigger tests on arm-uwp platform.

[2020-09-19 21:03] recp commented on #161
No problem, we should fix this issue for the future

[2020-10-16 10:04] recp opened #162 "modulemap: definition in module 'cglmc' first difference is function body"
I'm getting this error:

[code]

when I remove `export *` in `include/module.modulemap` file error disappears.

This line seems the problem:

[code]

removing this assertion also helps.

any help to fix this ? We added this ModuleMap with https://github.com/recp/cglm/pull/160

/cc @smumryak

[2020-10-31 20:14] smumryak commented on #162
Hey @recp!
Thanks for tagging me here. could you please tell me what build process have you been using to repro this error? I'll look into this.

[2020-11-01 10:00] recp commented on #162
Hi @smumryak

I have used Xcode to build **cglm** project and it fails due to above errors. It seems we need to update `include/module.modulemap`. Because it doesn't allow conditional builds / pre-processors... for instance  `#ifdef DEBUG ...`, removing ` export *` in .modulemap also helps if it doesn't break anything

You can simply create a Xcode project by including all **cglm** files to it and

[2020-11-14 14:22] recp commented on #162
Setting `CLANG_ENABLE_MODULES`to `NO` in **cglm** Xcode project fixed the issue for me, there is no need to module lookup for itself (maybe we could do something else here). Building with build files are also ok.

Let's close this now.

[2020-11-14 14:22] #162 closed

[2020-11-18 21:13] mathkr opened #166 "Unexpected multiplication order in glm_rotate"
I am a little confused about the order of operations when using `glm_rotate_x/y/z`.

I was expecting
[code]
To be equivalent to **dest** = **R** * **M** (where **R** is the newly constructed rotation matrix), that is the *existing* affine transformation **M** is applied first.

Instead it seems to me that actually **dest** = **M** * **R** is the result.
See here in `affine.h`:
[code]

Shouldn't it

[2020-11-19 11:50] recp commented on #166
Hi @mathkr

IIRC, **glm** also uses this behavior and **cglm** adopted this behavior from **glm** (I need to test it to validate this)

Do we want to rotate model or transformed model? Let's think about this example:

![rot](https://user-images.githubusercontent.com/1264894/99661736-545f3d00-2a75-11eb-9111-409c242ea73e.jpg)

The cube was at origin and now it is transformed.

---

#### Clarificatio

[2020-11-19 15:03] mathkr commented on #166
Hey @recp  and thank you for the quick answer!

As far as I can tell that indeed seems to be the behaviour of `glm::rotate` which is in turn based on OpenGLs `glRotatef` where each call applies as a *pre-multiplication* (so is multiplied on the right side in mathematical notation). I hadn't used this family of functions before but at least now I know.

I still wonder if these functions were correc

[2020-11-19 15:03] #166 closed

[2020-11-19 15:19] recp commented on #166
@mathkr thanks,

Please come back if you face any other issues. Sometimes bugs occur and I'm (and/or other users) trying to fix them quickly

[2020-11-19 15:22] recp commented on #166
Also any feedbacks, proposals, bug fixes, help... are welcome about function naming and for other features/implementations...

[2020-11-21 09:42] podsvirov opened #167 "Documentation WARNINGS (__restrict)"
Looks like the `sphinx` is annoyed by the `__restrict` keyword:

[code]

Full log available at `CI-Build` section [there](https://github.com/msys2/MINGW-packages/runs/1433828206).

[2020-11-21 09:50] recp commented on #167
Hi @podsvirov

Thanks for reporting this, we can convert `__restrict` to standard C99 keyword `restrict` in sphinx docs, would it fix this?

[2020-11-21 10:10] podsvirov commented on #167
I am at a loss to answer. It is clear that now the `sphinx` expects one word after specifying the type, but receives two. This leads to the absence of highlighting the list of parameters of these functions in the generated documentation. Another thing: do we want to explicitly tell users that this parameter is `restrict`? If so, then we need to somehow configure the `sphinx`.

[2020-11-21 10:37] recp commented on #167
It would be nice but if we can't configure sphinx for that, we can drop it from parameters in documentation

[2020-11-21 15:11] #167 closed

[2020-11-30 03:26] #81 closed

[2020-12-01 21:34] SanderMertens opened #171 "Compilation error when using C++11"
Hi, I am using cglm in a project that uses both C and C++11, and am running into a compilation error with g++:
[code]

Hex digits with floating point numbers have only been added since C++17. It would be nice if this could be modified so that the code compiles with C++11.

I tested it on:
Ubuntu 20.04
g++ 9.3.0

with compiler options:
-fPIC -fvisibility=hidden -fno-stack-protector -g -O0 -std=c++0

[2020-12-02 04:36] recp commented on #171
Bi @SanderMertens

Good catch! You are right this library must allow to built with old compilers

I just missed that Hex number :(

A PR to fix that would be awesome, otherwise I'll try to fix it ASAP

[2020-12-02 05:51] SanderMertens commented on #171
I created this PR: https://github.com/recp/cglm/pull/172

[2020-12-04 10:06] recp commented on #171
@SanderMertens thanks the PR is merged, it can be updated as I mentioned in this comment  https://github.com/recp/cglm/pull/172#issuecomment-737080592

[2020-12-04 10:06] #171 closed

[2020-12-08 19:06] recp opened #173 "Todo: (clifford/geometric algebra, grassmann algebra, bivector, trivector, quad-vector, rotors)"
* https://en.wikipedia.org/wiki/Bivector
* https://en.wikipedia.org/wiki/Multivector
* https://en.wikipedia.org/wiki/Bivector#Projective_geometry
* https://www.euclideanspace.com/maths/algebra/clifford/d4/functions/inverse/index.htm
* https://www.euclideanspace.com/maths/algebra/clifford/index.htm
* https://www.euclideanspace.com/maths/algebra/clifford/geometry/transforms/motors/index.htm

just TO

[2020-12-09 23:21] Winter091 commented on #173
It would be very cool to see some glm_ray_* functions, for example, ray-sphere collision test, ray-aabb collision test etc.

[2020-12-10 09:57] recp commented on #173
@Winter091 agree, we already have `glm_ray_triangle()` but more about ray would be awesome, added TODOs

[2020-12-10 12:42] Winter091 commented on #173
@recp well, I won't be able to help with implementation, i'm pretty bad at linear algebra. I'm building simple minecraft clone, ray - aabb hit detection is needed there, so I had found [this blog](https://medium.com/@bromanz/another-view-on-the-classic-ray-aabb-intersection-algorithm-for-bvh-traversal-41125138b525). I copied unoptimized version to my project and it works pretty well, but at certai

[2020-12-10 15:08] recp commented on #173
@Winter091 no problem, I'll try to implement highly optimized versions (maybe with `SIMD`) of ray functions asap. Maybe someone else can implement them before me, it is possible. There are lot of projects I'm working on, you just need to wait a bit ;)

[2021-01-25 12:43] Winter091 opened #176 "CMake sets -std=gnu11 even if option CGLM_USE_C99 is turned on"
I'm building my game and use cglm as maths library. I have CMakeLists.txt file which sets settings and adds cglm as subdirectory for build:
[code]

Even though `CGLM_USE_C99` is turned on, `compile_commands.json` shows that cglm files are still being compiled with c11 flag:
[code]
I'm not proficient in CMake. Is it my misunderstanding?

If these lines are changed from:
[code]

to:
[code]
Then ever

[2021-01-25 12:53] Winter091 commented on #176
Fixed with #177

[2021-01-25 17:07] recp commented on #176
@Winter091 thanks, the PR is merged 🎉

[2021-01-25 17:07] #176 closed

[2021-02-28 13:57] ILeonor opened #179 "glm_aabb_sphere test incorrect"
example:
[code]
but the sphere is completely in the box and the test should return true.
Solid Box - Solid Sphere test from (https://github.com/erich666/GraphicsGems/blob/master/gems/BoxSphere.c) returns true

this happens due to the fact that `dmin` should increase only if `s[i] < box[0][i] || s[i] > box[1][i]`

Possible Solution:
[code]

P.S. sorry for my bad english

[2021-02-28 17:52] recp commented on #179
Hi @ILeonor

Good catch! Thanks for providing a solution. Would you like to create a PR for this?

Your solution:

[code]
Alternative solution could be:

[code]

I'm not sure which one is faster. There may be redundant multiplications in the second solution but they could be eliminated.

[2021-02-28 19:50] ILeonor commented on #179
Hi @recp
Your solution is faster in most situations :)

tested on 10кк iterations:
your solution, sphere in box: 1039945 microseconds
my solution, sphere in box: 929294 microseconds
your solution, sphere intersect box 1053339 microseconds
my solution, sphere intersect box 1361337 microseconds
your solution, sphere no intersect box 1037820 microseconds
my solution, sphere no intersect box 1560051 m

[2021-02-28 20:00] recp commented on #179
@ILeonor thanks for the benchmark 🤗

better in this way 👍

Would you like to create a PR for the fix/improvement? Otherwise I'll do it

[2021-02-28 20:07] ILeonor commented on #179
@recp better if you do it

[2021-02-28 20:13] recp commented on #179
@ILeonor sure, follow https://github.com/recp/cglm/pull/180

[2021-03-01 07:48] #179 closed

[2021-03-25 10:32] legends2k opened #181 "Provide a CMake interface library target"
Applications using cglm as a pure header library currently do

[code]

However, this build `.c` files under `src/` only to be thrown away since the project isn't using the compiled _call_ variant of cglm i.e. `glmc_` functions aren't used but still they're built.

Providing an interface library target and a shared library target would give freedom for users to choose the right dependency level.

*

[2021-03-25 11:45] recp commented on #181
@legends2k thaks for your feedbacks, you are right, we should not force users to build **cglm** if they only use headers.

Any PR would be appreciated ☺️ Otherwise I'll try to do it in my free time...

[2021-03-25 11:50] legends2k opened #182 "Make API C++-friendly"
In #83, I see one of the comments

No, this isn't true.  I'm writing a C++ program and I like cglm _more than glm_ :)

I'd really appreciate if cglm has an API that' easy to use with a C++ compiler.  For example

[code]

doesn't compile on g++ 10.  It screams

This is because I used the array API and so `vec3 eye` decays into `float *eye` and `vec3{50.f, 10.f, 20.f}` is a temporary.

Now I know **

[2021-03-25 12:07] legends2k commented on #181
My understanding of CMake is slim.  Nevertheless I'll raise a PR, please do correct me if I'm doing the wrong thing.

[2021-03-25 12:09] recp commented on #182
@legends2k I agree with you. I think **cglm** could work better with C++. Added to my TODOs.

With **GLM_IN**, **GLM_OUT**, **GLM_INOUT** macros, we could add compiler specific attributes maybe if we neeed any in the future. Let's think about it and try to find better solution.

Also there is an issue with `const`, see https://github.com/recp/cglm/issues/83 maybe we could ignore `const` for C for

[2021-03-26 17:38] recp commented on #181
see https://github.com/recp/cglm/pull/183

[2021-03-26 17:38] #181 closed

[2021-04-03 15:18] recp opened #184 "ARM: Matix Multiplication Optimization, April, 2021"
Current implementation is:

[code]

I've tried this implementation (source: https://developer.arm.com/documentation/102467/0100/Matrix-multiplication-example):

[code]

test codes:

[code]

Result on my iPad (with -Os), -O3 gives similar results:

[code]

current implementation seems good for now. Also `vfmaq_laneq_f32()` requies 64 bit, probably.

Working on `glm_mat4_inv_neon()`.

---

EDIT: GCC

[2021-04-10 07:16] lliendo opened #185 "glm_mat4_print issue on FreeBSD"
Hi there,

I don't really know if this is a bug or not (I'm going to assume that I'm probably missing something, if that's the case my apologies!). I'm trying to print a `mat4` data type through the `glm_mat4_print` function. I've already included both the `cglm/cglm.h` and the `cglm/io.h` headers where the function is being called. I'm getting no compiling errors at all and tried to print to both

[2021-04-10 07:30] recp commented on #185
Hi @lliendo

Thaks for reporting this, and testing/using **cglm** on FreeBSD

a note top of `io.h`

[code]

Also documented in:
https://cglm.readthedocs.io/en/latest/io.html
https://cglm.readthedocs.io/en/latest/opt.html

we may imporve documentation later.

[2021-04-10 07:43] lliendo commented on #185
Thanks a lot for your fast reply and my apologies for not spotting: `Inline prints are only enabled in DEBUG mode and if CGLM_DEFINE_PRINTS is defined.`

[2021-04-10 07:43] #185 closed

[2021-04-23 11:00] RoOddball opened #187 "build cglm for use in vulkan project"
hello, I am following the tutorial one of them for found so far https://vulkan-tutorial.com/en/Vertex_buffers/Vertex_input_description

and so i downloaded the cglm github project and tried to run the  build.bat file but it says htat msbuild is not a recognized command. This is a reall noob question I'm sure but just to be sure is it viable to try and use this to dynamically pass verteces to the p

[2021-04-23 16:54] recp commented on #187
Hi @RoOddball

Yes **msbuild** must b installed on Windows before run `build.bat`, AFAIK, it comes with Visual Studio. You can also build with CMake if you want.

[2021-04-25 00:39] recp commented on #184
**UPDATE:**

Better design:

[code]

`glmm_fmadd()` will check **arm64** to whether use `vfmaq_f32` or `vmlaq_f32`

[2021-04-25 00:39] #184 closed

[2021-04-26 22:04] michael-g commented on #152
At risk of resurrecting an old thread -- for which apologies -- does the above relate to the way Vulkan requires its depth buffer, for example, to be zero-to-one and therefore the way that `glm_perspective` would have to perform its calculation? I've been comparing its impl to [this](https://github.com/g-truc/glm/blob/78f686b4be6c623df829db58b974bf8d79461987/glm/gtc/matrix_transform.inl#L352) and

[2021-04-26 23:07] recp commented on #152
Hi @michael-g

Thanks for your feedbacks,

+1

I'm interested to do some work on this, **cglm** could provide `glm_perspective/ortho/frustum_lh()` , `glm_look[at]_lh()`... and `_zo` vesions...

**glm** solution:

[code]

we can follow similar path.

And yes we need update **cglm** for Vulkan clip space as soon as possible. Any help would be appreciated (Discussions, Feedbacks, PRs/Coding...)

---

[2021-04-26 23:18] recp commented on #187
Also you dont need to build **cglm** if you only use inline vesions e.g `glm_`.

Documentation:

https://cglm.readthedocs.io/en/latest/build.html

**cglm** provides

- inline api `glm_`
- call api `glmc_` *you need to build cglm first*
- struct api `glms_`
- Raw SIMD api `glmm_` *most part of **cglm** alreadt use SIMD

[2021-04-27 06:56] michael-g commented on #152
I would be happy to (try to) help, so long as we understand that any algorithms I implement are likely be a fairly slavish copy of what I see in GLM: I'm too much of a Luddite to extemporise those. I can of course avoid repeating calculations (in a similar way that `cglm_perspective` does). Do you have a contributor guide about the branching model you prefer?

[2021-04-27 15:12] recp commented on #152
Thanks 🤗

See:  [CONTRIBUTING.md](https://github.com/recp/cglm/blob/master/CONTRIBUTING.md)

[2021-04-28 08:40] michael-g commented on #152
Hi Recep, I've got myself a fork, a dev branch and a new function in `cam.h` which for better or worse I've named `glm_perspectiveLH_ZO`. I have a couple of questions about testing:
1. What would be "the right way" to test this implementation? I suspect that implementing the algorithm using primitive functions (mul, etc) in the test function and comparing the result with the output of the new func

[2021-04-28 13:26] recp commented on #152
I'm not sure about the naming:

[code]

vs

[code]

You can check https://github.com/recp/cglm/blob/master/test/src/test_affine.h as test sample. More and complex tests would be awesome.

You can create a separate C++ project then test GLM and **cglm** both for compaing results maybe. Or you can add C++ file to cglm then remove it after if you are convinced that the results/implementations are cor

[2021-04-28 22:51] michael-g commented on #152
I have a working function with a unit-test now in [this branch](https://github.com/michael-g/cglm/tree/feature/add-zero-to-one-perspective-fn). I've also added a discrete/disconnected CMake C++ project stub under `test/glm_cmp` to make it easier for future contributors to generate reference data values. It's README has more information. This produced the reference values to be found in the test fo

[2021-04-29 18:43] recp commented on #152
@michael-g good work!

I have some ideas which I want too share and get feedbacks;

we can create separate files for each clip-space for instance;

`cam.h` - default
`frustum.h` - default
...
`clipspace/cam.lh.no.h` - left hand clipspace + NegativeOne
`clipspace/cam.lh.zo.h` - left hand clipspace + ZeroToOne
`clipspace/cam.rh.no.h` - right hand clipspace + NegativeOne
`clipspace/cam.rh.zo.h` - rig

[2021-04-29 20:32] michael-g commented on #152
Excellent, I like the ideas. I'll make a start on implementing some of these and fix the `nearVal`/`farVal` issue (and bear that in mind for the future).

It would be useful if you had any links to online resources that describe what these functions should all look like, since at the moment I'm relying on the GLM implementation, and what I can find online, _e.g._ [this gem](https://vincent-p.githu

[2021-04-29 20:48] recp commented on #152
Perfect 🤗

One resouce I suggest to look at is [DirectXMath](https://github.com/microsoft/DirectXMath), AFAIK, they are implemented **LH** and **RH** functions. I'm not sure if they implemented Vulkan clipspace.

Let's implment `_rh_zo` then we can move step further, small iterations, good tests and better motivation...

Sure. For Metal, I'll look at Apple docs later. I'll take a look API differen

[2021-04-29 22:57] michael-g commented on #152
A few more changes in the branch. New `glm_perspective_rh_zo` function and two new files for the LH and RH ZO variants. I need to remember to update the `.rst` docs in due course. I don't plan to implement the macro switching until after at least all the perspective projection functions are implemented. Shouldn't be long. Tests pass using ref data produced by GLM. Thanks for the feedback ;)

[2021-04-29 23:20] recp commented on #152
Wow, now I undestand what you mean by `glm_cmp`, I thought that you may write a temp function called `glm_cmp()` for tests 😲

It is better to avoid external deps. If we need tests to compare cglm with glm then we can create a separate repo for that.

---

I think postponing docs until coding has done is good idea since we may need to change somethings?

**It looks good!** It seems `glm_perspective

[2021-04-30 10:28] michael-g commented on #152
No problem, I can remove the subdirectory, `main.cpp` and its `CMakeLists.txt` from Git.

Just to be clear, though: it was never part of the build. If you didn't know it existed you'd never need to link GLM into position.

What I do think _is_ important is that we have a way of regenerating the reference values I've used in the tests -- and to which I will add more functions as I reimplement/trans

[2021-04-30 19:49] michael-g commented on #152
I hear you ;) In that case, the next steps seem something like
1. You (rather than me) set up a new repo in your Github spaced named something like `cglm-cmp` (since it could compile against more than just GLM in the future).
2. Let it be a C++ CMake project
3. Let GLM be a dependency, perhaps even a submodule
4. Let `cglm` be a dependency, or, again, a submodule
5. Contributors add to the test ap

[2021-04-30 21:00] michael-g commented on #152
I've updated the branch and we should now have a complete set of LH/RH coord. system and ZO/NO clip-space variants. All have test coverage against both naive algo implemenations and magic numbers generated by the GLM equivalents. Happy either to raise a PR new for proper review or implement any other feedback you may have.

[2021-04-30 22:48] recp commented on #152
Great! It would be better to continue with PR 🤗 We could get more reviews from othe users maybe

On thing I must say that be aware that `_rh_no` implementations must be same with **cglm**'s existing implementations, since it is OpenGL's coord sys.

[2021-05-01 08:31] raedwulf commented on #152
Blimey... I missed this thread and started working on this myself! Good work though @michael-g !

[2021-05-01 16:04] raedwulf commented on #152
Where should `glm_lookat_lh` and `glm_lookat_rh` be located? Maybe something like `lookat_lh.h` and `lookat_rh.h`?

[2021-05-01 18:33] recp commented on #152
@realaltffour thanks for help 🤗

I think working together will boost the process to implement the clip-space differences. What do you say @michael-g ?

I think each function must stay where it belongs. See https://github.com/recp/cglm/issues/152#issuecomment-829499940 comment. `glm_look()` and `glm_lookat()` are in `cam.h` we can move `glm_look[at]_lh[_no/zo]()...` to `cam.lh.h` or `cam_lh_[no/zo]

[2021-05-01 18:38] raedwulf commented on #152
Great, I think having them in `clipspace/` will make the repository cleaner.  I think glm_look[at]_lh_no is identical to glm_look[at]_lh_zo (according to glm).

[2021-05-01 19:00] recp commented on #152
+1

`cam.h` can import all the camea headers. Or we can avoid to import all, if user specified clipspace by `GLM_CONFIG_CLIP_CONTROL == GLM_CLIP_CONTROL_LH_ZO` to help compiler to bypass these unused headers.

I didn't check yet, if so one can be another's wapper instead of duplcating implementations.

[2021-05-03 09:27] recp commented on #152
@michael-g ping.

[2021-05-03 11:51] recp commented on #152
Some resources:

* https://vincent-p.github.io/notes/20201216234910-the_projection_matrix_in_vulkan/
* http://whirlicube.com/the-indulgence-of-engine-porting.html
* https://metashapes.com/blog/opengl-metal-projection-matrix-problem/
* https://stackoverflow.com/questions/21841598/when-does-the-transition-from-clip-space-to-screen-coordinates-happen
* http://anki3d.org/vulkan-coordinate-system/

[2021-05-03 15:03] michael-g commented on #152
Thanks for these, I'll have a look.

Re the above, while I love the explanations and the way it's all laid out for us, I can't reconcile his final C++ code with any of the [RL]H_[NZ]O implementations in GLM. In particular, his value for `A`, at `[2][2]` is different ...

[2021-05-03 15:30] michael-g commented on #152
Hi @raedwulf, sorry, been busy!

The branch is up-to-date with my local changes and I was going to do some more work on it tonight. However, I'm happy to be hands-off until you've added your implementations to the branch. Did you really implement all four variants for all six ortho functions? It's quite an explosion of function variants. Excellent work if you did!

One happy aspect is that I don't

[2021-05-03 17:08] recp commented on #152
But let's grow it together 👶

Yes moving these rh/lh/no/zo headers to `clipspace/` folder and include them in `cam.h/frustum.h/poject.h`... if theere is no opposite opinion

cam.h:

[code]

we can include related files conditionally if we want:

[code]

Here is the documentation I were followed:
https://www.khronos.org/registry/OpenGL-Refpages/gl2.1/xhtml/gluPerspective.xml

it is exactly same as

[2021-05-03 17:25] raedwulf commented on #152
@michael-g Yeah I'll do the move to clipspace.  I have a couple of files left to do as I originally implemented it all in cam.h and merged the decomp functions.

With the `b-a` and `-(a-b)` differences, i kept the CGLM version intact.  The compiler should be able to figure it out and there shouldn't be a precision loss because floating point spec reserves a sign.

[2021-05-03 18:13] recp commented on #152
I vote for `b-a` instead of `-(a-b)` because not all compilers may produce same output. I'm re-writing mat4_inv for both NEON and SSE to eliminate `xor`'s:

[code]

I'll push to a PR after finished. Hope it will worth it. Negating SIMD register requires extra instruction[s] and exta load on x86...

[2021-05-03 19:39] michael-g commented on #152
@raedwulf you're a gent, that would be great.

FWIW,

feels the most "C like" to me.

Speaking from a position of ignorance, my guess is that it flips the one of the axes to avoid everyone having to implement some hack or other. But it's a pure guess.

Are we going to implement the coordinate system/clip-space implementation-hiding like GLM does [here](https://github.com/g-truc/glm/blob/b3f8772026

[2021-05-03 21:34] recp commented on #152
I'll investigate this or I may ask to author of GLM later. What kind of hack may I ask?

[2021-05-04 00:36] susnux opened #194 "meson: Library built with meson missing so version"
When building with meson, the library is missing the so version.

This can be fixed with this patch:
[code]

[2021-05-04 00:54] recp commented on #194
Hi @susnux ,

Thanks, can you bring this change with a PR ?

[2021-05-04 06:13] raedwulf commented on #152
I'll have some time to work on it today (I just started a new job yesterday so was a bit exhausted)!

[2021-05-05 03:15] raedwulf commented on #152
https://github.com/raedwulf/cglm/tree/clipspace-wip

I've not done the code shifting or tested it (I'm sure I've missed some things)

[2021-05-05 14:46] recp commented on #152
@raedwulf many thanks 🤗 I'll take a look asap

[2021-05-05 15:11] michael-g commented on #152
@raedwulf you're a machine ;) awesome work. Let me know if there's a discrete area in which I can contribute to the tests etc. I'm not sure how much time I'll have but just in case...

[2021-05-05 15:13] raedwulf commented on #152
Thanks! Yeah tests would be great :) I'll still need to rearrange the files a bit - hopefully will have some time later today.

[2021-05-06 16:16] raedwulf commented on #152
Update - will have a chance this weekend to work more on this, but a bit exhausted last few days.  @michael-g no hurry!

[2021-05-06 19:56] michael-g commented on #152
Roger that. Take it easy!

[2021-05-06 20:08] recp commented on #152
I'm still waiting a PR ;) Let's discuss changes on the PR? I'll check your branch soon,

Let's make **cglm** work with LH/RH and NO/ZO 🤗

[2021-05-07 01:01] recp opened #196 "Proposal: Implementing Double/Half/... Precision"
Function names are not HIDDEN in macro, in this way we can use 'Go To Definition' in IDEs. With making raw implementation Macro/Template allows us to implement `double` precision with no cost (copy-paste only). Individual types can implement SIMD separately like below; float impl used SIMD since double does not (for now).

Also exposing SCALAR/RAW implementation will allow us to compare **SIMD** v

[2021-05-08 12:42] recp opened #197 "Proposal, Optional: Omit `glm[s]` pefix in INLINE function names as an OPTION, especially fo struct api?"
Since struct api is inline, we can provide an option to omit `glms_` name space?

[code]

array api may remain same.

[2021-05-08 12:51] susnux commented on #194
Sorry had no time, but you already fixes it, looks good :+1:

[2021-05-08 13:04] recp commented on #194
@susnux next time ;)

[2021-05-08 19:45] recp commented on #152
Perspective function from Apple's **Metal** sample:

[code]

Also I liked `nearZ` and `farZ` param names, it is seems cool and better than `nearVal / farVal` and `zNear / zFar`... I have renamed `nearVal` / `farVal` to  `nearZ` and `farZ` in https://github.com/recp/cglm/commit/a242d83805521ca2a300ed22cb2f21061b6ffe8e

[2021-05-10 10:44] recp commented on #152
@realaltffour awesome 🤗

[2021-05-10 12:51] iddev5 commented on #197
Sounds great but is the goal of this change to make struct-based API more familiar-able(?)?
Is it complete omitting of old functions or just a layer/macro on top of existing?

[2021-05-11 23:43] recp commented on #197
@iddev5 thanks for feedbacks,

No, if `#define CGLM_OMIT_NS_FROM_STRUCT_API` is defined some users may omit `glms_` prefix if they want. We can do this by surround functions by a macro (which may decrease readability of struct api headers) and omit glms_ namespace if `CGLM_OMIT_NS_FROM_STRUCT_API` is defined.

Array api is similar to assembly, for instance:

[code]

which looks cool, every functio

[2021-05-12 07:24] iddev5 commented on #197
Okay, got it. I use the struct based API throughout all my projects. I do not really mind the presence of glms_ prefix. So this change is kind-of neutral to me.

[2021-05-12 11:43] recp commented on #197
@iddev5 thanks for feedbacks, I'll keep this on hold until got enough feedbacks 👍

[2021-05-12 21:24] raedwulf commented on #152
Just working on compilation errors :)

[2021-05-12 21:31] recp commented on #152
:)

[2021-05-12 21:57] michael-g commented on #152
Awesome.

[2021-05-15 11:29] recp commented on #152
Follow at https://github.com/recp/cglm/pull/198

Thanks @raedwulf, @michael-g

[2021-05-15 11:33] recp commented on #32
**cglm** now ready to support **Left Hand** (LH), **Right Hand** (RH) and their **Zero to One** (ZO) and **Negative One** (NO) which will allow us to use **cglm** with OpenGL/Vulkan/DirectX/WebGPU/Metal.

Follow at https://github.com/recp/cglm/pull/198 (Clipspace implementations for left/righted-handed coordinate systems and [-1,1] and [0,1] clipspace)

cc @cheako @overslayer @ompadu

[2021-05-20 13:34] legends2k opened #199 "Utilities for fast inverse square root and smootherstep"
Couple of functions might be a good addition to `util.h`

* [Smootherstep][2] (`6x⁵ - 15x⁴ + 10x^³`)
* [Fast inverse square root][2]; [related discussion in GameDev.net][3]

[1]: https://en.wikipedia.org/wiki/Smoothstep#Variations
[2]: https://stackoverflow.com/a/19834347/183120
[3]: https://www.gamedev.net/forums/topic.asp?topic_id=139956

[2021-05-23 15:59] #32 closed

[2021-05-23 15:59] #152 closed

[2021-05-24 18:58] hartenfels opened #200 "cglm/struct/cam.h:68:14: error: 'clipspace/ortho_rh_no.h' file not found"
The latest pull request appears to have broken the struct API as described in the title:

[code]

Looks like ~~it should be `../clipspace/ortho_rh_no.h`~~ the autoconf build doesn't install these new files properly. I'll probably provide a pull request fixing this in a bit.

[2021-05-24 19:14] recp commented on #200
@hartenfels that would be great 🤗

[2021-05-24 19:31] #200 closed

[2021-05-28 06:51] legends2k opened #202 "Use `_mm_sincos_ps` where both sin and cos are calculated for same angle"
In `//include/cglm/quat.h`, we've `glm_quatv` which calculates a new quaternion from axis and angle; it does

[code]

This can be optimized by using

1. `_mm_sincos_ps`
2. For non-SIMD cases, some platforms like [Linux support `sincos`][1]

Moving to this would be a nice (micro-)optimization 😉

[1]: https://man7.org/linux/man-pages/man3/sincos.3.html

[2021-05-28 06:53] legends2k commented on #202
[Related discussion on StackOverflow](https://stackoverflow.com/questions/2683588/what-is-the-fastest-way-to-compute-sin-and-cos-together).

[2021-06-10 04:36] legends2k opened #208 "`glm_vec3_cross` doesn't work when `dest` is one of the operands"
`glm_vec3_cross` implementation implicitly assumes that all three arguments `a`, `b` and `dest` are different.  Code like

[code]

where `a` and `dest` are the same doesn't work due to this.

[2021-06-10 07:18] recp commented on #208
[code]

You are right, we should duplicate one of vectors or both to avoid this.

[2021-06-10 13:51] recp commented on #208
@legends2k many thanks for the catch and fix.

Related PR: https://github.com/recp/cglm/pull/209

[2021-06-10 13:51] #208 closed

[2021-06-27 17:54] awsdert commented on #199
Jumping on the wagon here, couple more utility functions that I was looking for but didn't find, here's what they should roughly look like:
[code]
I'm re-writing the corange project to learn how to use opengl and it had a couple of functions similar to these (although badly named, these are the re-named versions after I re-wrote them). If something like these already exists please let me know, wou

[2021-06-27 20:36] legends2k commented on #199
@awsdert Both of these are already present: `glm_vec3_norm2` and `glm_vec3_norm`.

[2021-06-27 20:38] awsdert commented on #199
Well those are definitly not intuitive names, I assiocated those with normalisation (did think it odd that there was multiple with seemingly the same purpose)

[2021-06-27 20:45] legends2k commented on #199
Looking at the implementation helps.  Also _norm_ is the general term used in place of _length_ in math literature/libraries; _length_ commonly refers to [Euclidean distance/norm](https://en.wikipedia.org/wiki/Norm_(mathematics)#Euclidean_norm).

[2021-06-27 20:50] awsdert commented on #199
Can't say I'm agree with that terminology decision of theirs, it's as if they were deliberately making gfx math harder to understand than it needs to be

[2021-06-28 08:23] recp commented on #199
[code]

So I was thougt that using `2` suffix  as `glm_vec3_norm2()` could be a good name (I like short names, sorry for that). We can add more readable alias if it is necessary

---

There are a few norm functions:

[code]

As I said before we can add [inline] alias for norm/length if it is necessary to make it more readable...

[2021-06-28 10:35] legends2k commented on #199
@recp I think norm is a commonly used name for length in a lot of math libraries.  I don't find anything wrong with the current names.  Part of being a good programmer is to be mindful in looking for functions/APIs a library/framework/platform provides; reading documentation and headers is part of the work.

[2021-06-28 12:37] awsdert commented on #199
I understand the desire for short names since I used to do it a lot back when I 1st started programming but found when I came back to old code I hadn't maintained in a while (nor documented for that matter) I didn't have a clue what was doing what until I went to the function implementation, that's poor design and I have since been trying to kick the habit by only using short names when the name c

[2021-06-28 21:06] Nairou opened #211 "Request: Functions for building vectors from floats"
Currently the only way to build, say, a vec3s is manually:

[code]

This is very verbose, and the double braces required for the struct versions seem to confuse vim's syntax highlighting. It would be nice if there was a function to clean this up. (Something like `glms_vec3()`, but that's already taken for converting from vec4s.)

For example:

[code]

I don't know what an appropriate name would be

[2021-06-29 19:23] recp commented on #211
Hi @Nairou

Thanks for your feedbacks 🤗, let's get more feedbacks for what to do

It would be nice to  use glm_vec3 for this purpose :/ but maybe we can find alternative or better names...

[2021-06-29 19:27] recp commented on #199
I think `norm` and `norm2` (norm ^ 2) are not bad, an alias like `glm_vec2|3|4_length()` could be used too.

[2021-06-29 19:28] recp commented on #187
Is this still valid?

[2021-06-29 19:29] recp commented on #149
@saxondigital ping. Is this still valid issue?

[2021-06-29 19:30] RoOddball commented on #187
Hey,
No it is not, that problem is solved. I didn’t expect you guys to be so
thorough, hats off and sorry
Andrei

On Tue 29 Jun 2021 at 20:28, Recep Aslantas ***@***.***>
wrote:

[2021-06-29 19:31] recp commented on #187
@RoOddball thanks 🤗🚀

[2021-06-29 19:31] #187 closed

[2021-06-29 20:01] awsdert commented on #199
Try to think about how you would've viewed it when you were still new to this sorta thing, would you have still thought of them as good names? Of course not because having seemingly multiple normalisation functions would confuse you as it did me, at least have some defines that just map to the name like this:
[code]
Then newbs like myself can search for those names and see the what the purpose of

[2021-06-29 20:12] recp commented on #199
I think it would better to have inline func instead of macros. Because we could call the fuction like

[code]

Also `glm_vec3_sqrt_of_length` is weird to me since it is just `length`.

`2` suffix is also used in `glm_vec3_distance()` -> `glm_vec3_distance2()` which is alternative name convention I think.

But we can create inline functions or macros, yes.

[2021-06-30 03:54] legends2k commented on #199
Intuition comes with some exposure to the subject matter.  Most math and 3d programmers I've spoken to knew about norm and their various types e.g. Manhattan/Taxicab/l1 norm, Euclidean/l2 norm, etc. @awsdert

[2021-06-30 12:49] awsdert commented on #199
The defines I gave can still be used as calls, or rather they MUST be used as calls, when compiled the compiler only sees the norm/norm2 so it will expect a call, do agree with length being a weird name for the context though, I only gave that name as it was used in the code I was converting

[2021-06-30 12:56] awsdert commented on #199
That's taught intuition, not natural intuition, if we want more programmers to learn then we first need to provide names they can intuitively understand and find, then show what names they connect to and why they connect to them instead of being stand alone names, the why is outside the scope of the project but providing the natural names should be a given, even if they're enclosed in an #ifdef so

[2021-07-01 07:59] legends2k commented on #199
@awsdert Well... 3D mathematics and "natural" intuition!?  I thought everything about 3D mathematics is learned.  I rest my case :)

[2021-07-01 08:09] awsdert commented on #199
If you're gonna use a technicality then I'll go one further, everything we know is taught to us at some point, our intuition no doubt stems from that, but someone still new to graphics functions (like myself) would appreciate more verbose names that explain what they're actually doing and ignore the technical names, we can learn those just by looking at the implementation which would call them, it

[2021-07-01 21:12] pm4gh opened #212 "Avoid warnings (or possibly bugs) with old versions of gcc"
include/cglm/types.h contains the following block of code:

#ifdef __GNUC__
#  define CGLM_ASSUME_ALIGNED(expr, alignment) \
  __builtin_assume_aligned((expr), (alignment))
#else
#  define CGLM_ASSUME_ALIGNED(expr, alignment) (expr)
#endif

but __builtin_assume_aligned appeared only in gcc 4.7. With earlier versions this causes warnings like:

../cglm/simd/x86.h: In function ‘glmm_load3’:
../cglm/

[2021-07-03 00:12] saxondigital commented on #149
The issue is still of interest. I'll turn some attention back to this and report back here with my findings/questions!

[2021-07-03 16:53] recp commented on #212
@pm4gh thanks for the bug report,

#if defined(__GNUC__) && ( __GNUC__ * 100 + __GNUC_MINOR__ >= 407 )
or something similar ?

Yes it is, instead of multiplication maybe we can specify minimum GNUC version. Alternatively we could use `__has_builtin ` if it is supported:

https://stackoverflow.com/questions/54079257/how-to-check-builtin-function-is-available-on-gcc

[2021-07-13 15:02] YourWishes opened #213 "glmc_vec4_scale_as header mismatch"
GCC is giving me compiler warnings that seem to stem from the header definition of `glmc_vec4_scale_as` being defined as;
`glmc_vec4_scale_as(vec3 v, float s, vec3 dest);`
but the method definition is set to;
`glmc_vec4_scale_as(vec4 v, float s, vec4 dest)`

Not sure if the vec3 in the header is correct, or the method definition is correct, but I assume that the vec4 scale would be preferred.

[2021-07-14 15:42] recp commented on #213
Hi @YourWishes

is correct, the function creates new vector by scaling existing **vec4** as given scale factor.

A PR would be awesome if you would like to help, otherwise I'll fix it asap.

[2021-07-14 16:32] YourWishes commented on #213
@recp Thanks, my bad on this one as I was using a version from a while ago and this has been fixed, closing issue.

Fixed in https://github.com/recp/cglm/pull/192/commits/13269f4af8d3c95220f97746c968eac3ba122a32#diff-f3e960d159809f4eac06da27686b9a6810a666ced007315ba59ed5101c3345caR102

[2021-07-14 16:32] #213 closed

[2021-07-14 16:37] recp commented on #213
@YourWishes thanks 🤗

[2021-08-15 18:16] Nairou opened #216 "glm_unproject not working with CGLM_FORCE_DEPTH_ZERO_TO_ONE"
I recently made a switch to using zero-to-one for my depth buffer (OpenGL 4.5). I have `CGLM_FORCE_DEPTH_ZERO_TO_ONE` defined, and have a call to `glClipControl( GL_LOWER_LEFT, GL_ZERO_TO_ONE )`.

However, with these changes, I noticed that `glm_unproject()` started giving weird results. I use it in my game for placing 3D objects at the mouse cursor, and they no longer line up properly. If I remov

[2021-08-15 18:34] recp commented on #216
Hi @Nairou

I'm sorry to see you have weird results,

yes we didn't touch `glm_unproject()` implementation yet, I'll investigate this and try to find what need to do...

We may need to update `project`, `frustum` and maybe more... for ZERO_TO_ONE

Any help would be appreciated

[2021-08-15 21:45] #216 closed

[2021-08-18 10:03] lmarz opened #220 "Test `camera_decomp` fails on x86"
While packaging v0.8.3 for Debian, two tests on arches x86 (i386 on Debian) and s390x failed. `clamp` and `camera_decomp`
Build logs:
- [x86](https://buildd.debian.org/status/fetch.php?pkg=cglm&arch=i386&ver=0.8.3-1&stamp=1629158693&raw=0)
- [s390x](https://buildd.debian.org/status/fetch.php?pkg=cglm&arch=s390x&ver=0.8.3-1&stamp=1629158580&raw=0)

Failed asserts:
[code]

I manually extracted the t

[2021-08-18 13:50] recp commented on #220
Hi @lmarz

I guesss it is all about floating point errors,

* we should use `fabsf()` to compare floats, min/max instructions may prroduce floating point errors
* `GLM_FLT_EPSILON` may be too small (`1e-6`)

FLT_EPSILON (`1e-5`) seems bigger than **cglm**'s GLM_FLT_EPSILON (`1e-6`), we may need to update it.

Can you try `ASSERT(fabsf(49.984f - glm_deg(glm_persp_fovy(proj))) < 1e-5)` which uses 1e

[2021-08-18 14:00] lmarz commented on #220
With
[code]
every test passes

[2021-08-18 20:48] recp commented on #220
Great, thanks!

We should change `GLM_FLT_EPSILON` to 1e-5 from 1e-6 I think... asap.

[2021-09-11 13:48] Eric-Arz opened #223 "cl: Command line warning D9025"
I am having problems integrating the clgm source code into a larger cmake project on Windows. cl.exe complains about warning & optimizations levels getting overridden by the clgm CMakeLists.txt.

This is what causes the issue:

[code]

Is there any reason why you are setting those flags for all targets instead of using target_compile_options? For now i just removed those lines as a temporary solut

[2021-09-11 19:25] recp commented on #223
Hi @Eric-Arz

Thanks for reporting this,

Can you share some of warnings & errors?

IIRC, the reason is to enable optimizations on **cglm** library, not on any other targets, otherwise it is a build-bug and must be fixed...

Also if you only use inline versions you don't have to build **cglm**, follow https://github.com/recp/cglm#use-as-header-only-library-with-your-cmake-project

---

[2021-09-12 10:58] Eric-Arz commented on #223
@recp For example `cl : Command line warning D9025 : overriding '/Od' with '/Ox'. ` when building the project as a debug build.

[2021-09-12 21:31] recp commented on #223
@Eric-Arz thanks for sharing this, I'll investigate this. Any idea would be awesome about what is wrong in **cglm**'s build configuration and in yours maybe ...

[2021-09-16 13:52] Eric-Arz commented on #223
@recp I just used `add_subdirectory(lib/cglm)` alongside `target_link_libraries(${PROJECT_NAME} PRIVATE cglm)` to integrate cglm.

I think the issue is using add_compile_options() in clgm's  CMakeLists.txt which overrides all settings that are set by the root CMakeLists.txt (or by default / IDE, i actually didn't explicitly set anything).

[2021-09-16 20:18] recp commented on #223
@Eric-Arz thanks,

Any idea how to fix it? If the **cglm** is compiled separately these options must appear to optimize the library, but we can improve CMake build conf for integrating existing project, maybe we can add these options conditionally by checking a variable  and if the variable; let's say `CGLM_SKIP_COMPILE_OPTIOS`... is defined then build could skip these options maybe, I'm not sure

[2021-10-03 20:21] awsdert opened #224 ""--ansi --pedantic" Compatibility desired"
I know it's a pain to implement but could you add support for this particular set of gcc options please?

For variables that are not declared at the top of functions you can use ```if ( 1 ) { ... }``` to avoid moving the declarations (I only realised I could use that trick recently), to avoid issues with ```long long``` you can swap it out for intmax_t, not like they should be passed to the GPU an

[2021-10-03 20:36] awsdert commented on #182
Taking a cursory glance at this I'd say the simplest solution would be to have macros like glm_lookat (at least I assume it's a macro, haven't looked at details yet) have solid functions as alternatives so for example:
```var cglm_func_lookat( float *vec, uint pos, uint flags ) { return cglm_lookat( vec, pos, flags ); }```

[2021-10-03 20:39] awsdert commented on #149
Saw this thread after, seems partially related to a request I just made but not completely, I link it anyways:

https://github.com/recp/cglm/issues/224

[2021-10-03 20:40] awsdert commented on #224
Just linking a partially related thread:

https://github.com/recp/cglm/issues/149

[2021-10-04 10:07] recp commented on #224
Hi @awsdert,

I always try to declare variables at top (this may not be true for tests yet), so this may not be ann issue for C89. We can move variables to top if they are not yet...

There is a discussion which may be related: https://github.com/recp/cglm/discussions/222

I'll try to build **cglm** with `--ansi --pedantic` later to see what is wrong. You can also share compiler warnings, errors t

[2021-10-04 10:18] recp commented on #182
@awsdert thanks for your feedbacks,

Actually there is an interest to convert implemenntations to macro to avoid duplicate raw implementations for double:

https://github.com/recp/cglm/issues/196

so there is no need to prefix functions with `cglm_func_`. For C++, we could go with GLM_IN, GLM_OUT, GLM_INOUT which mentioned above

[2021-10-04 10:19] recp commented on #149
@saxondigital ping again ☺️

[2021-10-04 11:03] awsdert commented on #224
Thanks, I'm not in any rush for it so I'll focus on my own project which can still afford to be loose with the standards (though I do use ```--ansi --pedantic``` every now and then because I want the final code to fit that standard) while cglm is not yet able to compile under those options, I'm trying to build a graphics engine of my own in pure C89 and I've only recently started learning graphics

[2021-10-28 16:17] recp opened #226 "Move CI from Travis and AppVeyor to Github Actions"

[2021-11-06 02:26] mxi opened #227 "Add explicit complex type or complex number support in `vec2-ext`"
I implemented the Newton-Raphson root finder visualizer with the help of cglm for some view transformations. To my surprise during development, I wasn't able to find any complex number routines in cglm and had to write a poor man's implementation.

I imagine the argument would be to simply use versors with the `j` and `k` components set to zero, but it's a bit messy jumping between `mat4`/`vec3` a

[2021-11-08 00:28] CaspianA1 opened #228 "Clang warnings for implicit conversions from float to double"
When using the clang flag `-Wdouble-promotion` and including `<cglm/cglm.h>`, a maelstrom of implicit float-to-double conversion errors arise. Here is a small snippet of the 23 warnings I got:

[code]

I do not have the time, but if someone does, please declare the preprocessor constant `GLM_FLT_EPSILON` as a float. This not being the case is the sole cause of the warnings.

[2021-11-08 18:57] recp commented on #227
Hi @mxi , sorry to the delay,

We can consider to support complex numbers if it is worth it,

Did you implement complex numbers in your local branch?

Thanks

[2021-11-08 18:58] recp commented on #228
Hi @CaspianA1

Thanks for reporting this, I'll take a look at asap to fix it

[2021-11-09 02:14] mxi commented on #227
Did just now (#229).

[2021-11-10 07:10] recp commented on #227
That PR is merged, thanks 🚀

[2021-11-10 07:10] #227 closed

[2021-11-16 14:25] PQCraft commented on #182
https://github.com/g-truc/glm

[2021-11-18 07:44] legends2k commented on #182
@PQCraft GLM isn't that good with SIMD or inlining IIRC.  Of course, those may not be important to some projects.

[2021-11-20 07:18] niko1point0 opened #230 "never mind"

[2021-11-20 07:41] #230 closed

[2021-11-22 08:32] recp commented on #182
+1 for "Make API C++-friendly"

@legends2k thanks for sharing that, FWIW **cglm** implemen[ted]/[ing] **NEON** and other SIMDs or hardware features time by time so the comparison may not reflect latest cglm

[2021-11-28 05:34] legends2k opened #232 "Make rotation functions take unit axes"
Excerpt from #206 discussion:

Following functions normalize incoming vector:

1. `glm_vec3_rotate`
2. `glm_quatv`
3. `glm_rotate_make`
4. `glm_quat_rotatev`

These should be changed to take unit vectors i.e. avoid normalizing input vector/axis and document that the input is expected to be normalized.  This gives the application programmer to avoid the normalization step if s/he already has one in

[2021-11-28 05:36] legends2k commented on #232
Discussion with @recp on #206:

[2021-11-30 20:05] Th3T3chn0G1t opened #233 "Clang vector/matrix intrin support"
Clang has a WIP matrix implementation:
https://clang.llvm.org/docs/LanguageExtensions.html#matrix-types

And several functional vector implementations:
https://clang.llvm.org/docs/LanguageExtensions.html#vectors-and-extended-vectors
(The vector extension I personally have had the best experience with being `ext_vector_type`, which also seems to be the most commonly used in the llvm repo)

Which su

[2021-12-02 11:37] recp commented on #233
Hi @Th3T3chn0G1t ,

Thanks for the feedbacks annd suggestions,

I guess we have discussed related idea at https://github.com/recp/cglm/issues/58 (try search with `vector_size ` or `ext_vector_type`).  Auto vectorization seems to be good feature but we already did vectorization manually which may not be enough for some operations maybe.

If this can give us some advantages or performance benefits,

[2021-12-06 00:24] legends2k commented on #232
@recp That's okay.

This might break existing projects expecting cglm to normalize as they've come to expect with earlier versions.  One option is to introduce unit vector expecting variants with a `unit` prefix:

1. `glm_vec3_rotate_unit_axis`
2. `glm_quat_unitv`
3. `glm_rotate_unit_axis_make`
4. `glm_quat_rotate_unitv`

[2021-12-06 06:55] recp commented on #232
@legends2k many thanks, let's get a few more feedbacks if there are any, then we can move on,

Third option could be bring an option for a while (for smooth transition to unit input or it could always stay there):

[code]

Like:

[code]

what do you think about the option? The drawback of this option is that compiled functions `glmc_` may conflict with inline versions if the option is not used hom

[2021-12-07 11:00] legends2k commented on #232
@recp I like the `CGLM_EXPECT_UNIT_AXES` approach.  Of course, this macro should be defined to the same value for both included and compiled sources.  Since `common.h` (or `types.h`) is included in all sources (both compiled and header-only), we can supply a default value to `CGLM_EXPECT_UNIT_AXES` there, if not already defined.

The application using cglm can define `CGLM_EXPECT_UNIT_AXES` to a d

[2021-12-08 07:12] recp commented on #232
@legends2k great! Let's implement `CGLM_EXPECT_UNIT_AXES` then. A PR would be awesome ;) but I can either do that

[2021-12-13 06:28] TheRektafire commented on #182
Personally I'm totally OK with cglm being made more c++ friendly as long as no performance is lost from having to stoop down to c++s level ;) if course if that becomes and issue I'm sure c and c++ versions of the functions could be offered separately

[2021-12-16 18:44] awsdert commented on #182
I think it might be better to just use inline functions,  no macros, and revert to normal functions in C89 with some macros called BUILD_CGLM_ABI and BUILD_CGLM_LIB, the lib would be for *.so/*.dll libraries while the abi would be for defining the contents of the functions that otherwise would be just declarations. If inlining is available then the abi macro can be ignored providing the speedup th

[2022-01-05 14:10] awsdert opened #235 "Missing unions"
Went to use ivec2s only to find it's not defined, please add it and any remaining structs using something like this:
[code]
With this method code compiled against older variants of cglm (you know how linux distros can be) will be able to gracefully supplement their own implementation should the expected union not be found

**Edit:** Forgot to add r & i axis for real & "imaginary" numbers so just a

[2022-01-06 15:03] recp commented on #235
Hi @awsdert ,

Thanks for your feedback, just created a PR for this request: https://github.com/recp/cglm/pull/236

[2022-01-06 21:24] recp commented on #235
@awsdert that PR is merged now, many thanks 🚀

[2022-01-06 21:24] #235 closed

[2022-01-06 22:09] awsdert commented on #235
good 2 know, now I just need to wait for it to show up in the AUR, got it installed via there instead of keeping a portable copy

[2022-01-07 08:37] recp opened #237 "use fixed size integers (`int32`) for **ivec** instead of `int`"
I think we should replace `int` with `int32` in **ivec[ 2 | 3 | 4 ]** typedefs in order to make the vector size clear. Because in `C` **int** must be least 32-bit but it may be 64 on some platforms, AFAIK, there is no restrictions

[2022-01-30 20:29] pm4gh opened #240 "Error in glm_pickmatrix() arguments type"
glm_pickmatrix() is defined as:
`glm_pickmatrix(vec3 center, vec2 size, vec4 vp, mat4 dest)`
but center should be a vec2.

Noticed when building with gcc12 that gives this warning:

src/project.c:32:3: warning: 'glm_pickmatrix' accessing 12 bytes in a region of size 8 [-Wstringop-overflow=]
   32 |   glm_pickmatrix(center, size, vp, dest);
        |   ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
src/pro

[2022-01-30 23:58] recp commented on #240
Hi @pm4gh

Many thanks for reporting this. This is fixed at https://github.com/recp/cglm/commit/2a4748d45265434b095714f185b40b22d76fc7f1

Let us know (with issues or with pull request) if any other error / warnings occurs.

Thanks.

[2022-01-30 23:58] #240 closed

[2022-03-05 20:48] pm4gh opened #241 "Possible problem in glm_inv_tr SIMD implementations"
A static analyzer used on code indirectly including affine.h (but not using glm_inv_tr) gives me this warning:

cglm/simd/neon/affine.h:95:8: style: Variable 'r3' is assigned a value that is never used. [unreadVariable]
  r3   = vmat.val[3];

I'm not familiar with SSE or NEON intrinsics and can't affirm that something is wrong, but it seems strange that the SSE version uses the r3 input argument w

[2022-03-05 21:34] pm4gh opened #242 "Error in glm_sign()"
glm_sign(), as ((val >> 31) - (-val >> 31)) fails if val is INT_MIN. In fact, it has undefinded behaviour (shifting signed 32-bit value by 31 bits).

Using shifts, or bitwise operations in general, on signed values is a bit iffy. It would be surprising if this function was so performance-critical that this kind of branchless hack is worth it. It would be more sensible to implement it the same way

[2022-03-07 10:55] recp commented on #241
Hi @pm4gh ,

Thanks for reporting this, I'll take a look at it asap. `vld4q_f32()` transposes matrix on the fly but it may be slow if we want to transpose matrix which is already in SIMD registers... it may also be replaced later.

[2022-03-07 10:59] recp commented on #242
Hi @pm4gh ,

Thanks, any feedback would be awesome to find the sign of number.

yes it could be, we can update it to that way.

[2022-03-18 09:42] recp commented on #241
The https://github.com/recp/cglm/pull/244 PR should suppress the warning but as I said before, I'll re-check the implementation later.

[2022-03-20 19:32] yurivict opened #245 "arm64: error: variable 'r3' set but not used [-Werror,-Wunused-but-set-variable]"
Build fails on arm64:

[code]

Version: 0.8.4
clang-12
OS: FreeBSD 13

[2022-03-21 10:24] recp commented on #245
Hi @yurivict

Thanks for reporting this,

THe issue must. be fixed at https://github.com/recp/cglm/pull/244, can you pull the latest commit or version please?

[2022-03-21 15:12] yurivict commented on #245
Thanks.

Since I don't have any ARM systems (the failure was in the central build) - I'd wait for the next release.

[2022-03-21 15:30] yurivict commented on #245
If the fix is included - I'd see if fallout messages would keep coming.

[2022-03-27 17:24] wobes1 opened #246 "glm::adjugate ?"
Hello there,

I am currently using cglm in my game engine and was wondering if there is an implementation of adjugate in cglm?
here how the function looks like from glm C++ library

![image](https://user-images.githubusercontent.com/24993673/160293085-86224483-afbf-48db-8789-81c5139f0bae.png)

Thank you.

[2022-03-28 21:19] recp commented on #246
Hi @wobes1

Thanks for your feedback,

We can add this function to **cglm**, I will work on it asap if anyone wont before me

It is similar to inverse just without determinant division

[2022-03-28 21:33] wobes1 commented on #246
Thank you for your reply @recp

Wow, I really appreciate the reactivity! Sorry I couldn't contribute myself, I lack proper knowledge of cglm and complex matrices operations, but will be happy to learn

Cheers

[2022-03-29 00:14] wobes1 commented on #246
Yes I believe this is it:

`CGLM_INLINE
void glm_mat3_adjugate(mat3 mat, mat3 dest) {
  float det;
  float a = mat[0][0], b = mat[0][1], c = mat[0][2], d = mat[1][0], e = mat[1][1], f = mat[1][2],
        g = mat[2][0], h = mat[2][1], i = mat[2][2];

  dest[0][0] = e * i - f * h;
  dest[0][1] = -(b * i - h * c);
  dest[0][2] = b * f - e * c;
  dest[1][0] = -(d * i - g * f);
  dest[1][1] = a * i -

[2022-03-29 08:25] recp commented on #246
Yes that's it! But with correct indents/alignment ;)

[code]

maybe `glm_mat3_adj()` could be used for the name but not sure.

[2022-05-09 08:00] Chris-F5 commented on #237
Perhaps a macro should be used to switch between types.
Looks like glm uses `GLM_PRECISION_HIGHP_INT`, `GLM_PRECISION_MEDIUMP_INT` and `GLM_PRECISION_LOWP_INT` to switch between using `sint64`, `signed int` and `signed short`. I don't know why in glm, only the high precision integer has a fixed width.

[2022-05-09 17:09] Chris-F5 opened #248 "Add basic ivec functions"
I'm working on a project in which I use a lot of **cglm**'s ivec types. I don't require all the functions that the floating point vec types have, but basic ivec functions would save me from (for example) using 3 lines of code just to copy an ivec3:
[code]
The functions I propose are:
[code]
Note that `glm_ivecn_distance2` returns int whereas `glm_ivecn_distance` returns float. Also, `glm_ivecn_cla

[2022-05-16 08:13] alexshpilkin opened #249 "pkg-config file is broken when CMAKE_INSTALL_{INCLUDE,LIB}DIR is absolute"
As per title: `CMakeLists.txt` has
[code]
and so can’t handle absolute paths in `CMAKE_INSTALL_{INCLUDE,LIB}DIR`. This leads to broken .pc files on NixOS in particular. (Using `prefix` and not `exec_prefix` to derive `libdir` also seems a bit suspect, but is not the problem here.)

See “[Concatenating paths when building pkg-config files](https://github.com/jtojnar/cmake-snips#concatenating-paths-

[2022-05-16 17:01] recp commented on #249
Hi @alexshpilkin,

Thanks for reporting this, a PR to fix that would be awesome but I will take a look asap if none

[2022-05-16 20:57] Chris-F5 commented on #248
Great, I will begin working on this.

[2022-05-19 15:48] alexshpilkin commented on #249
I did not want to promise anything, but I could get around to fixing this in the end :) I’d appreciate it if you double-checked that I didn’t break anything.

[2022-05-19 19:22] recp commented on #249
@alexshpilkin many thanks for the fix, it seems ok to me 🚀

[2022-05-19 19:23] #249 closed

[2022-05-22 18:07] recp commented on #248
That PR is merged, may thanks @Chris-F5 🚀

[2022-05-22 18:07] #248 closed

[2022-06-02 07:54] RadoslavL opened #252 "Black screen when using glm_lookat"
I am sorry for creating this issue, but I've been trying to make this code work for so long! I made model, view and proj be identity matrices and then I ran `glm_lookat((vec3){0.0f, 0.0f, -4.0f}, (vec3){0.0f, 0.0f, 0.0f}, (vec3){0.0f, 1.0f, 0.0f}, view);` to set the view matrix and then I made the projection matrix work by using `glm_perspective(glm_rad(45.0f), (float)(width/height), 0.1f, 100.0f,

[2022-06-02 13:28] recp commented on #252
Hi @RadoslavL ,

Sorry for the late response, I didn't see this issue somehow,

Have you tried to render the model without model, view and/or proj matrices (by ignoring multiplication with position vector) to see what is wrong shader, mvp matrix or something else

Thanks for sharing the source codes, I'll try to see what is wrong,

There is no (and should not) room for bugs in **cglm**  ;)

[2022-06-02 15:50] RadoslavL commented on #252
If I comment out the `glm_lookat();` and `glm_perspective();` lines and make the matrices be identity ones, it works fine. The issue happens when I uncomment the lines.

[2022-06-02 22:05] recp commented on #252
@RadoslavL I just tried to check a little bit,

[code]

you created the perspective matrix like this:

[code]

but the result of
[code]
 is zero since width < height and both are integer. Since aspect ratio is zero in your case you get wrong `proj` and the result of MVP matrix is also wrong (includes `inf` ...)

Instead you could cast like this `(float)width/height` both `(float)width/(float)heigh

[2022-06-03 06:23] RadoslavL commented on #252
Thanks! That worked! I was so confused to why nothing was showing up!

[2022-06-03 08:50] recp commented on #252
It seems the issue can be closed now 🚀 Feel free to bring any bugs by creating issues/PRs...

[2022-06-03 08:50] #252 closed

[2022-06-13 07:21] RadoslavL opened #253 "Adding a new function"
I was about to create a pull request to add a new function, but I read your "CONTRIBUTING.md" file and wanted to ask for permission. The function I am talking about is `glm_vec3_muls`. There are `glm_vec3_adds`, `glm_vec3_subs` and `glm_vec3_divs` functions, but no `glm_vec3_muls` function. Was this intended?

[2022-06-13 08:34] recp commented on #253
Hi @RadoslavL ,

Thanks for contributing to **cglm**,

`glm_vec3_scale(vec3 v, float s, vec3 dest)` exactly does what you are looking for. It could be easy to find it with `glm_vec3_muls()` name but it scales the vector and current name seems good to me. An alias could be fine but I'm not sure:

[code]

[2022-06-13 08:52] RadoslavL commented on #253
Thanks for the reply! That is what I was looking for!

[2022-06-13 08:52] #253 closed

[2022-06-14 23:34] RobertLemmens commented on #245
I was using a slighty older version of cglm and ran into this. Update the submodule to latest master and build works again. Thanks maintainers!

[2022-06-14 23:46] yurivict commented on #245
@recp There are no more failures on arm with 0.8.5.

[2022-06-15 07:42] recp commented on #245
@RobertLemmens @yurivict thanks 🚀

[2022-06-27 12:33] #245 closed

[2022-07-15 21:48] Chris-F5 opened #255 "Use a single build system"
At the moment, `cglm` can be built with the following build systems:
* CMake
* Meson
* Swift package manager
* Autotools
* MSBuild

It is not realistic to expect developers to check that `cglm` compiles correctly on all 5 build systems before making a pull request. So if a change breaks one build system, it is possible that the problem will go unnoticed.
Building with different systems can result

[2022-07-16 09:08] recp commented on #255
Hi @Chris-F5 ,

Thanks for the feedback, let's get more feedback for this.

[2022-07-17 05:12] eli-schwartz commented on #255
MSBuild at least can just be generated by either Meson or CMake, so it's probably not very important to keep. Also handwritten XML is going to be the hardest thing to keep up to date anyway.

Like cmake's support for add_subdirectory on another cmake project, there's one particular advantage to having meson support in that you can embed it as a subproject inside your own meson-using project and it

[2022-09-14 15:48] fuck-shithub opened #258 "How to use ease/interpolation functions?"
So I ran into a situation where I wanted to do interpolation for some animation code in my OpenGL application. I imagined that maybe a math library already had this functionality, so I looked around and as it turns out the library I am using for OpenGL math, cglm, contains some ease functions. So I look in the include files and I see this in cglm/include/cglm/ease.h:

[code]

What is the point of

[2022-09-20 14:47] recp commented on #258
Hi @fuck-shithub ,

It is identical to [glm/gtx/easing.inl](https://github.com/g-truc/glm/blob/b3f87720261d623986f164b2a7f6a0a938430271/glm/gtx/easing.inl). They work how easing functions works.

In the given parameter `t` `glm_ease_linear()` will always give same value which is linear. For instance if you increase the time `t` will change linearly:

**time-t map**

[code]

other ease functions ma

[2022-09-22 08:24] #258 closed

[2022-10-18 09:39] Clownacy commented on #237
[`int` is not guaranteed to be at least 32-bit](https://en.cppreference.com/w/c/language/arithmetic_types): the C standard only requires that it be able to hold -32767 to 32767 for signed, and 0 to 65535 for unsigned, making it 16-bit at minimum.

Fixed-size integers are less portable, potentially slow, and rarely ever actually needed: they're only good for guaranteeing consistent unsigned overflo

[2022-10-20 03:04] duarm commented on #83
this optional solution proposed by recp sounds good to me, using the struct API is incovenient to me, writing portable C99 code, and the API i'm working makes heavy use const parameters, lots of discarded qualifier warnings.

[2022-10-20 09:17] duarm opened #261 "absolute functions"
are we up to adding absolute functions for every vector type? quite useful for some algorithms

something like
[code]

[2022-10-20 20:10] recp commented on #83
I'll take a look at this asap I hope, feedbacks are always welcome of course.

[2022-10-20 21:09] duarm commented on #261
just noticed there's already an undocumented abs function for vec3 only. https://github.com/recp/cglm/blob/master/src/vec3.c#L399

I'll add it to the docs too.

[2022-10-21 04:29] FrostKiwi opened #262 "call.h for the struct API?"
Big fan of cglm.
Want to try out making a project with the struct API. If you precompile cglm, you need to use call.h and the calls become glmc_XXX. But it doesn't seem, that this is possible with the struct api, as there exists no struct_call.h and no glmsc_XXX.

Is this an undesired feature? Is this a planned feature?
Can you reorganize the headers yourself to split them into a header and implem

[2022-10-21 05:09] recp commented on #261
That would be awesome 🤗

[2022-10-21 11:49] recp commented on #262
Hi @FrostKiwi,

🤗

I didn't think about struct-call before actually. `struct_call.h` could be an option or we could provide a macro option like `GLM_STRUCT_FORWARD_TO_CALL` maybe, to forward all struct functions to **call** apis instead of **inline** api, default could be inline. But it would disable struct-inline entirely which may not be desired always. But it can be an option.

Let's get more f

[2022-11-17 17:29] offthebus opened #264 "deprecated functions in io.h"
io.h uses sprintf. VS2019 gives deprecated warnings as errors so the project will not build. I changed io.h to use sprintf_s which resolves the issue. I am not a github user really so I don't want to try committing this change. Thank you for this library, I am looking forward to trying it out.

[2022-11-18 08:11] Jesse2431 commented on #264
Could you tell how you did that? I'm getting 3 errors when changing all sprintf to sprintf_s in io.h.
`C2440 'function': cannot convert from 'float' to 'const char *const' Line 82`
`C2440 'function': cannot convert from 'float' to 'const char *const' Line 125`
`C2440 'function': cannot convert from 'float' to 'const char *const' Line 167`

[2022-11-19 17:39] recp commented on #264
Hi, @offthebus, @Jesse2431

`#define _CRT_SECURE_NO_WARNINGS` should suppress those warnings. It is defined in `cglm/common.h`:
https://github.com/recp/cglm/blob/master/include/cglm/common.h#L15-L17

Do you use latest version of **cglm** ?

[2022-11-20 09:16] #261 closed